<html ng-app="HomeSmart" lang="de">
<head>
<title ng-bind="($title || 'Home') + ' - HomeSmart'">HomeSmart</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="app/css/style.css">

<!-- Libs -->
<link rel="stylesheet" href="bower_components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
<link rel="stylesheet" href="app/font-awesome-4.6.3/css/font-awesome.css">
<link rel="stylesheet" href="node_modules/autocomplete/autocomplete.css">
<link rel="stylesheet" href="node_modules/n3-charts/build/LineChart.css">
<link rel="stylesheet" href="node_modules/ng-toast/dist/ngToast.min.css">
<link rel="stylesheet" href="node_modules/bootstrap-ui/ui-bootstrap-1.3.3-csp.css">

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="node_modules/angular-ui-router-title/angular-ui-router-title.js"></script>
<script src="https://rawgit.com/bevacqua/angular-dragula/master/dist/angular-dragula.min.js"></script>
<script src="node_modules/autocomplete/autocomplete.js"></script>
<script src="node_modules/d3/d3.js"></script>
<script src="node_modules/n3-charts/build/LineChart.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="node_modules/ng-toast/dist/ngToast.min.js"></script>
<script src="node_modules/angular-touch/angular-touch.min.js"></script>
<script src="node_modules/bootstrap-ui/ui-bootstrap-tpls-1.3.3.min.js"></script>
<script src="node_modules/bootstrap-ui/ui-bootstrap-1.3.3.min.js"></script>
<script src="node_modules/moment/moment.js"></script>
<script src="node_modules/angular-vibrator/build/vibrator.min.js"></script>
<script src="bower_components/angular-audio/app/angular.audio.js"></script>
<script src="bower_components/angular-audio/index.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
<script src='http://codepen.io/n3-charts/pen/KdjqgW.js'></script>

<link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="bower_components/angular-bootstrap-slider/slider.js"></script>
<script src="bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.min.js"></script>
<link rel="stylesheet" href="bower_components/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.scss">
<link rel="stylesheet" href="node_modules/angular-bootstrap-colorpicker/css/colorpicker.min.css">
<script src="node_modules/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>

<!--APP-Config-->
<script src="app/app.js"></script>

<!--APP-Models-->
<script src="app/models/Mod_Abstract_Entity.js"></script>
<script src="app/models/Mod_Category.js"></script>
<script src="app/models/Mod_Component.js"></script>
<script src="app/models/Mod_Floor.js"></script>
<script src="app/models/Mod_House.js"></script>
<script src="app/models/Mod_Room.js"></script>
<script src="app/models/Mod_GlobalSettings.js"></script>


<!--APP-Directive-->
<script src="app/directive/Dir_ConfirmPassword.js"></script>
<script src="app/directive/Dir_NgFileRead.js"></script>
<script src="app/directive/Dir_ShowTab.js"></script>

<!--APP-Controller-->
<script src="app/controller/Ctr_Main.js"></script>
<script src="app/controller/Ctr_Houses.js"></script>
<script src="app/controller/Ctr_Landing.js"></script>
<script src="app/controller/Ctr_Login.js"></script>
<script src="app/controller/Ctr_LoginAdminArea.js"></script>
<script src="app/controller/Ctr_ChangeAdminPin.js"></script>
<script src="app/controller/Ctr_Navigation.js"></script>
<script src="app/controller/Ctr_WLAN.js"></script>
<script src="app/controller/Ctr_HousesSettings.js"></script>
<script src="app/controller/Ctr_FloorsHouseConfiguration.js"></script>
<script src="app/controller/Ctr_RoomsHouseConfiguration.js"></script>
<script src="app/controller/Ctr_EditFloor.js"></script>
<script src="app/controller/Ctr_DashboardConfiguration.js"></script>
<script src="app/controller/Ctr_EditQuicklink.js"></script>
<script src="app/controller/Ctr_AddQuicklink.js"></script>
<script src="app/controller/Ctr_EditHouse.js"></script>
<script src="app/controller/Ctr_AddHouse.js"></script>
<script src="app/controller/Ctr_AddHouseComponent.js"></script>
<script src="app/controller/Ctr_EditHouseComponent.js"></script>
<script src="app/controller/Ctr_AddFloor.js"></script>
<script src="app/controller/Ctr_EditRoom.js"></script>
<script src="app/controller/Ctr_AddRoom.js"></script>
<script src="app/controller/Ctr_AddRoomComponent.js"></script>
<script src="app/controller/Ctr_EditRoomComponent.js"></script>
<script src="app/controller/Ctr_AlarmTest.js"></script>
<script src="app/controller/Ctr_DeleteHouse.js"></script>
<script src="app/controller/Ctr_DeleteFloor.js"></script>
<script src="app/controller/Ctr_DeleteRoom.js"></script>
<script src="app/controller/Ctr_Floors.js"></script>
<script src="app/controller/Ctr_Rooms.js"></script>
<script src="app/controller/Ctr_Dashboard.js"></script>
<script src="app/controller/Ctr_Categorys.js"></script>
<script src="app/controller/Ctr_Statistic.js"></script>
<script src="app/controller/Ctr_Room.js"></script>
<script src="app/controller/Ctr_HeatingAutopilot.js"></script>
<script src="app/controller/Ctr_AddTimePeriod.js"></script>
<script src="app/controller/Ctr_Activity.js"></script>
<script src="app/controller/Ctr_PowerConsumption.js"></script>
<script src="app/controller/Ctr_PVConsumption.js"></script>
<script src="app/controller/Ctr_WaterConsumption.js"></script>
<script src="app/controller/Ctr_CoolingAutopilot.js"></script>
<script src="app/controller/Ctr_InfoDialog.js"></script>
<script src="app/controller/Ctr_AddControl.js"></script>
<script src="app/controller/Ctr_EditControl.js"></script>
<script src="app/controller/Ctr_DeleteControl.js"></script>
<script src="app/controller/Ctr_DeleteQuicklink.js"></script>


<!--APP-Services-->
<script src="app/services/Serv_Main.js"></script>
<script src="app/services/Serv_Components.js"></script>
<script src="app/services/Serv_FileReader.js"></script>

<!--APP-Components-->
<script src="app/directive/component/Comp_ComponentFactory.js"></script>
<script src="app/directive/component/Comp_AirPressure.js"></script>
<script src="app/directive/component/Comp_AlarmSystem.js"></script>
<script src="app/directive/component/Comp_AutoMower.js"></script>
<script src="app/directive/component/Comp_Bathtub.js"></script>
<script src="app/directive/component/Comp_Beamer.js"></script>
<script src="app/directive/component/Comp_CameraInside.js"></script>
<script src="app/directive/component/Comp_CameraOutside.js"></script>
<script src="app/directive/component/Comp_Canvas.js"></script>
<script src="app/directive/component/Comp_Cistern.js"></script>
<script src="app/directive/component/Comp_CoffeeMachine.js"></script>
<script src="app/directive/component/Comp_ConsumerActive.js"></script>
<script src="app/directive/component/Comp_ConsumerPassive.js"></script>
<script src="app/directive/component/Comp_Dishwasher.js"></script>
<script src="app/directive/component/Comp_Dryer.js"></script>
<script src="app/directive/component/Comp_Fridge.js"></script>
<script src="app/directive/component/Comp_FrontDoor.js"></script>
<script src="app/directive/component/Comp_Garage.js"></script>
<script src="app/directive/component/Comp_Heating.js"></script>
<script src="app/directive/component/Comp_LightComplete.js"></script>
<script src="app/directive/component/Comp_LightDimmer.js"></script>
<script src="app/directive/component/Comp_LightEffect.js"></script>
<script src="app/directive/component/Comp_LightNormal.js"></script>
<script src="app/directive/component/Comp_MotionDetectorInside.js"></script>
<script src="app/directive/component/Comp_MotionDetectorOutside.js"></script>
<script src="app/directive/component/Comp_Oven.js"></script>
<script src="app/directive/component/Comp_PhotovoltaicSystem.js"></script>
<script src="app/directive/component/Comp_Pool.js"></script>
<script src="app/directive/component/Comp_Precipitation.js"></script>
<script src="app/directive/component/Comp_Sauna.js"></script>
<script src="app/directive/component/Comp_Shading.js"></script>
<script src="app/directive/component/Comp_SmokeDetector.js"></script>
<script src="app/directive/component/Comp_SprinklerSystem.js"></script>
<script src="app/directive/component/Comp_Temperature.js"></script>
<script src="app/directive/component/Comp_Tv.js"></script>
<script src="app/directive/component/Comp_WashingMachine.js"></script>
<script src="app/directive/component/Comp_WaterConsumer.js"></script>
<script src="app/directive/component/Comp_WindowContact.js"></script>
<script src="app/directive/component/Comp_WindSpeed.js"></script>


</head>
<body ng-controller="MainController">
	
	
	<div
		class="mainContent col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2"
		style="padding: 0px;">
		 <div>
			<header class="content">
				<div ui-view="Nav1"></div>
				<div ui-view="Nav2"></div>
			</header>
			<main>
					<ol class="breadcrumb col-xs-10 col-sm-10 col-md-11 col-lg-11" ng-if="!$state.includes('index') && !$state.includes('login') && !$state.includes('loginAdminArea')" >
						<li>
							<a ui-sref="dashboard" >Start</a>
						</li>
						<li ng-repeat="crumb in $breadcrumbs" ng-class="{ 'active' : $last }">
							<a ng-if="!$last" href="{{$state.href(crumb.state, crumb.stateParams)}}">{{crumb.title}}</a>
							<span ng-if="$last && !$state.includes('rooms.detail') && !state.includes('floors.detail')">{{crumb.title}}</span>
							<span ng-if="$last && $state.includes('rooms.detail')">Raum: {{houses[houseIndex].getRoomById($stateParams.roomId).getName()}}</span>
							<span ng-if="$last && $state.includes('floors.detail')">Etage: {{houses[houseIndex].getFloorById($stateParams.floorId).getName()}}</span>
						</li>
					</ol>
					<div ui-view="Content"></div>
			</main>
		</div>
	</div>
</body>
</html>
