@import url("animations.css");
@import url("icons.css");
body
{
	background-color: #E8E8E8;
	font-family: "arial";
	min-height: 100%;
	font-wieght: normal;
}

h1
{
    font-size:16pt;
    color:#666666;
}

h2
{
    font-size:14pt;
    color:#666666;        
}

h3
{
    font-style: italic;
    font-size:12pt;
    color:#666666;
}

.activitySpan
{
    font-style: italic;
    font-size:12pt;
    color:#666666;
}

h4
{
    font-style: italic;
    font-size:11pt;
    color:#666666;
}

select {
  border-radius:3px;
  padding:.5em 1em .5em 1em;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
  background-color:white;
  background-image:url(select-arrow.png);
  background-position: right;
  background-repeat: no-repeat;
}

option {
  border-radius: 2px;
  border-top:1px solid #444;
  padding:.3em 1em .3em 1em;
}



.btn-default {
    color: #FFFFFF;
    background-color: #1A237E;
    border-color: #CCCCCC;
    min-width: 90px;
}


.btn-primary {
    color: #000000;
    background-color: #FEFEFE;
    border-color: #CCCCCC;
    border-radius: 4px;
    
}

.navbar-default .navbar-nav>li>a {
    color: #FEFEFE;  
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #8b8d8f;
    background-color: transparent;
}

.breadcrumb
{
	background-color: transparent;
}

.navbar-nav
{
	margin: 0;
	padding: 0;
}

.navbar
{
	border-radius: 0;
	margin:0;
	padding: 0;
	border: none;
}

.row
{
	margin-left:0px;
	margin-right: 0px;
}


.headNav
{
	background: linear-gradient(top, #303F9F 100%, #3F51B5 100%);
	background: -moz-linear-gradient(top, #303F9F 100%, #3F51B5 100%);
	background: -webkit-linear-gradient(top, #303F9F 100%, #3F51B5 100%);
	background: -ms-linear-gradient(top, #303F9F 100%, #3F51B5 100%);
	background: -o-linear-gradient(top, #303F9F 100%, #3F51B5 100%);
}

.headNavActive
{
	background-color: #1A237E;
}

.secondNavActive
{
	background: linear-gradient(top, #3F51B5 100%,#303F9F 100%);
	background: -moz-linear-gradient(top, #3F51B5 100%, #303F9F 100%);
	background: -webkit-linear-gradient(top, #3F51B5 100%, #303F9F 100%);
	background: -ms-linear-gradient(top, #3F51B5 100%, #303F9F 100%);
	background: -o-linear-gradient(top, #3F51B5 100%, #303F9F 100%);
}

.secondNav
{
	background-color: #1A237E;
}

.mainContent
{
	background-color: #FEFEFE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 100%;
}

.col-centered {
    margin-left: 25%;
}

.has-error
{
	border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}



.notification-set
{
	color: #e8a80d ! important;
	z-index: 4000;
}

.has-error:active
{
	border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.menu-icon
{
	padding-right:10px;
}

.second-nav-collapse
{
	margin-left:0px;
	padding-left:0px;
}
.head-nav-a
{
	font-size:12pt;
}

.second-nav-a
{
	font-size:11pt;
}

#userNameLabel, #descriptionLabel, #floorLabel,#endLabel, #startLabel, #cityLabel, #iconLabel,#passwordLabel, #oldPinLabel, #pinLabel, #confirmPinLabel, #ssidLabel, #nameLabel, #categoryLabel, #typLabel, #componentLabel
{
	text-align:left;
}


#wrapper {
  min-width: 600px;
}



.switch
{
	position:relative;
	margin-top:10px;
	width:100px;
	height:40px;
	    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ============================================================
  SWITCH
============================================================ */
input.cmn-toggle-round + label {
  padding: 2px;
  width: 100px;
  height: 34px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
  z-index: 1001;
  border-style: solid;
  border-width:1px;
  border-color: #ebebeb;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
  content:"";
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 50px;
}

.on-span
{
	position:absolute;
	top:29%;
	margin-left:10px;
	cursor: pointer;
    display: inline-block !important;
	font-weight: bold;
	
}

.off-span
{
	position:absolute;
	top:29%;
	font-weight: bold;
	left: 60px;
}

.card
{
	height: 100px;
	background-color: #1A237E;
	margin-bottom: 30px;
}

.add-card
{
	background-color: transparent;
	margin-bottom: 10px;
	border-color: #1A237E;
	border-style:dashed;
	background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.settings-btn
{
	width: 22px;
	height: 25px;
	padding: 0px;
	position: absolute;
	top: 3px;
	right: 3px;
}

.edit-btn
{
	width: 21;
	height: 27;
	border-radius: 2px;
	margin-top:5px;
	padding: 0px;
	position: absolute;
	top: 5px;
	right:40px;
}


.room-config-btn
{
	height: 27;
	border-radius: 2px;
	margin-top:5px;
	padding: 0px;
	position: absolute;
	top: 5px;
	right: 75px;
}


.card-name-settings
{
	color: #FEFEFE;
	font-weight: bold;
	font-size: 12pt;
	text-align: middle;
}

.card-name
{
	color: #FEFEFE;
	font-weight: bold;
	font-size: 13pt;
	text-align: middle;
}

.house-description
{
	color: #FEFEFE;
	text-align: middle;
	margin-bottom:40px;
}
.card-text
{
	color: #FEFEFE;
}

.house-card-btn
{
	padding: 0px;
    height: 27px;
    margin: 10px;
}

.floors-card-btn
{
	padding: 0px;
    height: 27px;
    margin: 5px;
}

.add-btn
{
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	padding-left:0px;
	background-color:transparent;
	border:none;
}

.not-configured
{
	border-color: #ae1414;
}


@media (min-width: 1200px)
{
.col-lg-offset-0-5
{
	margin-left: 2.6%;
}
}


.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.tagline {
  margin-top: 0;
}

.promo {
  margin-bottom: 0;
  font-style: italic;
  padding: 10px;
  background-color: #ff4020;
  border-bottom: 5px solid #c00;
}
.parent {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 50px 0;
  padding: 20px;
}

.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* dragula-specific example page styles */
.wrapper {
  display: table;
}
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
/*.container div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}*/

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.container .ex-moved {
  background-color: #e74c3c;
}
.container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.validation-message
{
	height: 30px;
    color: #a94442;
}
	
.form-control
{
	padding-right: 5px;
	padding-bottom:0px;
	padding-top:0px;
}

.alarm-btn
{
	margin-bottom:10px;
}

.notification-popup
{
	margin-top:20px;
	z-index: 2000;
	position: absolute;
	background-color: #EBEBEB;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 100px;
	
}


.dreieck {
	position:absolute;
	z-index:2000;
	width: 0px;
	height: 0px;
	-webkit-transform:rotate(360deg);
	border-style: solid;
	border-width: 0 16px 32px 16px;
	border-color: transparent transparent #EBEBEB transparent;
}


.notification-text
{
	padding: 10px;
	z-index:2000;
}


.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
/*.container {
  width: 888px;
  height: 400px;
}*/

/* Axis */
.chart .axis > path,
/* Axis Ticks */
.chart .axis > .tick line {
  stroke: rgba(0, 0, 0, 0.5);
}

/* Axis Tick Labels */
.chart .axis > .tick text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* Legend */
.chart-legend .item,
/* Tooltip */
.chart-tooltip {
  font-family: 'Open Sans', sans-serif;
}


@media (min-width: 544px ) and ( max-width: 992px){
.col-sm-offset-0-5 {
    margin-left:20px;;
}}


.component
{
	background-color: #1A237E;
}

.click
{
	cursor: pointer;
}

@media (min-width: 34em) {
	.border-left {
		border-left: thin solid #1A237E;
	}
}

.subnav-component
{
	background-color: lightgrey;
}

.subnav-active
{
	background-color: #1A237E;
}

.component-text
{
	color: #FEFEFE;
	font-weight: bold;
	font-size: 10pt;
	text-align: middle;
}

.slider .slider-selection {
	background: #BABABA;
}

.slider .slider-handle {
	background: white;
}

.color {
	width: 60px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #fefefe;
    background-color: #1A237E;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #3F51B5;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}

.component
{
	background-color: #1A237E;
}

.component-name
{
	color: #FEFEFE;
	font-weight: bold;
	font-size: 15pt;
	text-align: center;
}

.click
{
	cursor: pointer;
}

.drag
{
	cursor: -webkit-grab; cursor: -moz-grab;
}

.subnav
{
	border-right: thin solid #1A237E;
	height: 100%;
}

.subnav-component
{
	background-color: lightgrey;
}

.subnav-active
{
	background-color: #1A237E;
}

.component-text
{
	color: #FEFEFE;
	font-weight: bold;
	font-size: 10pt;
}

.slider .slider-selection {
	background: #BABABA;
}

.slider .slider-handle {
	background: white;
}

.color {
	width: 60px;
}

.noBackground
{
	background-color:transparent ! important;
	border-style: none ! important;
}


}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

@media (max-width: 760px) {
	.col-xs-offset{
		margin-left:4%;
	}	
}

