<div class="col-md-12 col-xs-12 col-sm-12 component" style="padding: 0px;">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-3 col-lg-3 col-xs-4 col-sm-3 card-name"
		     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
			<span class="card-name">Allgemein</span>
		</div>
		<div class="col-md-7 col-lg-8 col-xs-11 col-sm-6" style="margin-top: 15px;">
			<span class="component-text">Beschattung:&nbsp;</span>
			<button class="btn btn-primary" ng-click="setShadowing(0)"><i class="fa fa-arrow-down"></i> </button>
			<button class="btn btn-primary" ng-click="setShadowing(10)"><i class="fa fa-arrow-up"></i> </button>
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-8 col-lg-8 col-xs-11 col-sm-8 col-lg-offset-3 col-sm-offset-3 col-md-offset-3" style="margin-top: 15px;">
			<button ng-click="lightOff()" aria-label="Licht aus"
			        class="btn btn-primary"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Licht aus</button>
			<button ng-click="consumerOff()" aria-label="Verbraucher aus"
			        class="btn btn-primary"><i class="fa fa-plug" aria-hidden="true"></i> Verbraucher aus</button>
		</div>
	</div>
</div>