<div class="col-md-12 col-xs-12 col-sm-12 component" style="padding: 0px;">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-2 col-lg-2 col-xs-4 col-sm-2 card-name"
		     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
			<span class="card-name">{{component.getName()}}</span>
		</div>
		<div class="col-md-2 col-lg-2 col-xs-6 col-sm-2">
			<div class="switch">
				<input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round"
				       type="checkbox" ng-model="component.settings.onoff"> <label
					for="cmn-toggle-1"></label>
				<div class="on-span">Ein</div>
				<div class="off-span">Aus</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-6 col-xs-11 col-sm-6" style="margin-top: 15px;">
			<span class="component-text">Getränk: </span>
			<select>
				<option>--Bitte wählen--</option>
				<option>Kaffee</option>
				<option>Cappuccino</option>
				<option>Espresso</option>
				<option>Milchkaffee</option>
			</select>
		</div>
		<div class="col-md-6 col-lg-6 col-xs-11 col-sm-6" style="margin-top: 15px;">
			<span class="component-text">Stärke: </span>
			<input id="slider" data-slider-class='slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
		</div>
		<div class="col-md-4 col-lg-4 col-xs-11 col-sm-4 col-md-offset-5 col-lg-offset-5 col-sm-offset-5" style="margin-top: 10px;">
			<button class="btn btn-primary" id="start">Start</button>
		</div>
	</div>
	<button ng-click="configureComponent($index)"
	        class="btn-primary settings-btn">
		<i class="fa fa-wrench" aria-hidden="true"></i>
	</button>
</div>

<script>
	var slider = new Slider('#slider', {
	});
</script>