<div class="col-md-12 col-xs-12 col-sm-12 component" style="padding: 0px;">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-3 col-lg-3 col-xs-6 col-sm-3 card-name"
		     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
			<span class="component-name">{{componentName}}</span>
		</div>
		<div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
			<toggle-switch
					ng-model="component.getSetSettings()[0]"
					ng-model-options="{getterSetter: true }"
					on-label="Ein"
					off-label="Aus"
					style="height: 30px; margin-top: 10px;">
			</toggle-switch>
		</div>
		<div class="col-md-5 col-lg-5 col-xs-12 col-sm-5" style="margin-top: 20px;">
			<span class="component-text" id="timeLeft-{{componentId}}"><i class="fa fa-warning fa-lg fa-2x text-danger"></i>&nbsp;&nbsp;Verbleibende Zeit:&nbsp;&nbsp;{{component.getSetSettings()[2]}}&nbsp;Minuten</span>
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-4 col-lg-4 col-xs-12 col-sm-4" style="margin-top: 15px;">
			<span class="component-text">Modus:&nbsp;&nbsp;</span>
			<select style="width: 150px;" id="select-{{componentId}}" ng-model="component.getSetSettings()[1]" ng-options="modus.indexOf(m) as m for m in modus"></select>
		</div>
		<div class="col-md-3 col-lg-3 col-xs-12 col-sm-3" style="margin-top: 15px;">
			<button class="btn btn-primary" id="start-{{componentId}}" ng-click="start()">Start</button>
			<button class="btn btn-primary" id="stop-{{componentId}}" ng-click="stop()">Stop</button>
		</div>
	</div>
	<button ng-click="configureComponent($index)"
	        class="btn-primary settings-btn">
		<i class="fa fa-wrench" aria-hidden="true"></i>
	</button>
</div>