<div class="col-md-12 col-xs-12 col-sm-12 component" style="padding: 0px;">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-3 col-lg-3 col-xs-6 col-sm-3 card-name"
		     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
			<span class="component-name">{{componentName}}</span>
		</div>
		<div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
			<toggle-switch
					ng-model="component.getSetSettings[0]"
					ng-model-options="{getterSetter: true }"
					on-label="Ein"
					off-label="Aus"
					style="height: 30px; margin-top: 10px;">
			</toggle-switch>
		</div>
		<div class="col-md-5 col-lg-5 col-xs-12 col-sm-5" style="margin-top: 20px;"> <!-- wenn laufzeit > 0, disable button -->
			<span class="component-text" id="timeLeft-{{componentId}}" hidden="hidden"><i class="fa fa-warning fa-lg fa-2x text-danger"></i>&nbsp;&nbsp;Verbleibende Zeit:&nbsp;&nbsp; 60 Minuten</span>
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-4 col-lg-4 col-xs-12 col-sm-4" style="margin-top: 15px;">
			<span class="component-text">Modus:&nbsp;&nbsp;</span>
			<select ng-model="modus" ng-change="updateModus()">
				<option value="0">--Bitte wählen--</option>
				<option value="1">Automatik</option>
				<option value="2">Hygiene-Funktion</option>
				<option value="3">Multi-Tab</option>
				<option value="4">Beschleunigung</option>
				<option value="5">Halbe Beladung</option>
			</select>
		</div>
		<div class="col-md-1 col-lg-1 col-xs-12 col-sm-1" style="margin-top: 15px;">
			<button class="btn btn-primary" id="start-{{componentId}}" ng-click="start()">Start</button>
		</div>
	</div>
	<button ng-click="configureComponent($index)"
	        class="btn-primary settings-btn">
		<i class="fa fa-wrench" aria-hidden="true"></i>
	</button>
</div>