<div class="col-md-12 col-xs-12 col-sm-12 component" style="padding: 0px;">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-3 col-lg-3 col-xs-6 col-sm-3 card-name"
		     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
			<span class="component-name">{{componentName}}</span>
		</div>
		<div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
			<div class="switch">
				<input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round"
				       type="checkbox"> <label
					for="cmn-toggle-1"></label>
				<div class="on-span">Ein</div>
				<div class="off-span">Aus</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-6 col-xs-12 col-sm-6" style="margin-top: 20px;">
			<span class="component-text"><i class="fa fa-warning fa-lg fa-2x text-danger"></i>&nbsp;&nbsp;Verbleibende Zeit:&nbsp;&nbsp; 60 Minuten</span>
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-4 col-lg-4 col-xs-12 col-sm-4" style="margin-top: 15px;">
			<span class="component-text">Modus:&nbsp;&nbsp;</span>
			<select>
				<option>--Bitte wählen--</option>
				<option>Bügelfeucht</option>
				<option>Schranktrocken</option>
				<option>Schranktrocken +</option>
				<option>Extra-Trocken</option>
			</select>
		</div>
		<div class="col-md-1 col-lg-1 col-xs-12 col-sm-1" style="margin-top: 15px;">
			<button class="btn btn-primary" id="start">Start</button>
		</div>
	</div>
	<button ng-click="configureComponent($index)"
	        class="btn-primary settings-btn">
		<i class="fa fa-wrench" aria-hidden="true"></i>
	</button>
</div>