<div class="col-md-12 col-xs-12 col-sm-12 component"
	style="padding: 0px;">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-3 col-lg-2 col-xs-11 col-sm-3 card-name"
			style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
			<span class="component-name">Heizung</span>
		</div>
		<div class="col-md-5 col-lg-6 col-xs-9 col-sm-6"
			style="margin-top: 15px;">
			<span class="component-text col-xs-3 col-sm-3 col-md-3 col-lg-2" style="padding: 0px;margin-top:10px;">Modus</span> <select
				style="width: 50%;" ng-model="component.getSettings()[1]"  class="form-control"
				ng-selected="component.getSettings()[1]"
				ng-options="modes.indexOf(mode) as mode for mode in modes"></select>
		</div>
		<div class="col-md-6 col-lg-8 col-sm-offset-3 col-md-offset-3 col-lg-offset-2 col-xs-7 col-sm-8"
			style="margin-top: 15px;" ng-show="component.getSettings()[1] == 1">
			<div class="col-md-3 col-lg-2 col-xs-4 col-sm-3" style="padding-right:3px;">
				<span class="component-text">Temperatur:&nbsp;&nbsp;</span>
			</div>
			<div class="col-md-4 col-lg-5 col-xs-4 col-sm-4" style="paddin:0px;">
				<span slider
				      id="slider-{{componentId}}"
				      ng-model="component.getSetSettings()[1]"
				      min="1"
				      max="10"
				      step="1"
				      tooltip="hide"
				></span>
			</div>
			<div class="col-md-1 col-lg-1 col-xs-2 col-sm-1">
				<span class="component-text">&nbsp;&nbsp;{{component.getSettings()[1]}}</span>
			</div>
		</div>
		<div class="col-md-6 col-lg-8 col-sm-offset-3 col-md-offset-3 col-lg-offset-2 col-xs-7 col-sm-6"
			style="margin-top: 15px;padding-right:20px;" ng-show="component.getSettings()[1] == 0">
			<button ng-click="configureHeatingAutopilot()"
				class="btn btn-primary">Autopilot konfigurieren&nbsp;&nbsp;</button>
		</div>
	</div>

	<button ng-click="configureComponent(componentId)"
		class="btn btn-primary settings-btn">
		<i class="fa fa-wrench" aria-hidden="true"></i>
	</button>
</div>