<div class="col-md-12 col-xs-12 col-sm-12 component" style="padding: 0px;">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-3 col-lg-3 col-xs-4 col-sm-3 card-name"
		     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
			<span class="card-name">{{componentName}}</span>
		</div>
		<div class="col-md-6 col-lg-4 col-xs-8 col-sm-5" style="margin-top: 15px;">
			<span class="component-text">Beschattung:&nbsp;</span>
			<button class="btn btn-primary" ng-click="down()"><i class="fa fa-arrow-down"></i> </button>
			<button class="btn btn-primary" ng-click="stop()"><i class="fa fa-square"></i> </button>
			<button class="btn btn-primary" ng-click="up()"><i class="fa fa-arrow-up"></i> </button>
			<span class="component-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status:</span>
		</div>
		<div class="col-md-1 col-lg-1 col-xs-1 col-sm-1 shutters" id="icon-{{componentId}}" data-index="{{component.getSetSettings()[0]}}" style="height: 25px; width: 25px; margin-top: 13px; margin-left:-10px;"></div>
	</div>
	<button ng-click="configureComponent()"
	        class="btn btn-primary settings-btn">
		<i class="fa fa-wrench" aria-hidden="true"></i>
	</button>
</div>