
<nav class="navbar navbar-default headNav ">
	<form>
		<div>
			<div class="navbar-header col-xs-2 col-sm-1 col-md-2 col-lg-2">
				<a ui-sref="index" class="pull-left" style="margin-bottom: 10px;">
					<picture>
					<source srcset="app/icons/house_text.svg"
						media="(min-width: 780px)">
					<source srcset="app/icons/house.svg" media="(min-width: 300px)">
					<img src="app/icons/house_text.svg" alt="MDN"> </picture>
				</a>
			</div>
			<div ng-show="{{houses.length && !$state.includes('index') && $root.loggedIn}}"
				class="nav navbar-nav col-xs-2 col-md-2 col-sm-1 col-lg-2"
				style="padding-top: 19px;">
				<select style="width:100%;" class="form-control"
			    ng-model="$root.houseIndex" ng-change="houseIndexChanged()"
			    ng-options="houses.indexOf(house) as (house.getName() + ' in ' + house.city) for house in houses"></select>
			</div>
			<ul
				class="nav navbar-nav navbar-right col-xs-6 col-sm-9 col-md-7 col-lg-7" 
				style="padding-top: 15px;float:right;">
				<li class="pull-right" ng-show="{{houseIndex != null && !$state.includes('index') && $root.loggedIn}}" ><a href=""
					ng-click="showNotifications()" class="head-nav-a" > <i ng-class="{'text-danger': ($root.notifications.length > 0)}"
						class="fa fa-bell" aria-hidden="true"></i> <span class="hidden-xs" ng-class="{'text-danger': ($root.notifications.length > 0)}">Benachrichtigungen</span>

				</a></li>
				<li class="pull-right" ng-show="{{$root.loggedIn}}"
					ng-class="{ headNavActive: $state.includes('settings')}"><a
					ui-sref="settings" class="head-nav-a"> <i class="fa fa-gears"
						aria-hidden="true"></i> <span class="hidden-xs">Einstellungen</span>
				</a></li>
				<li ng-show="{{houseIndex != null && !$state.includes('index') && $root.loggedIn}}" class="pull-right"><a
					ui-sref="houseconfiguration" class="head-nav-a"
					ng-class="{ headNavActive: $state.includes('houseconfiguration') }">
						<i class="fa fa-wrench" aria-hidden="true"></i>
						<span class="hidden-xs">Hauskonfiguration</span>
				</a></li>
			</ul>
		</div>
	</form>
</nav>
<div ng-show="notificationContainerShow">
	<div class="dreieck col-xs-offset-10 col-sm-offset-9 col-md-offset-10 col-lg-offset-10"></div>
	<div
		class="notification-popup col-md-5 col-lg-5 col-xs-6  col-sm-9 col-xs-offset-4 col-sm-offset-2 col-md-offset-6 col-lg-offset-6"
		>
		<br />
		
		
		<div ng-show="$root.notifications.length > 0">
			<uib-alert ng-repeat="notification in notifications track by $index" type="success" close="closeAlert($index)">{{notification}}</uib-alert>
		</div>
		<span ng-show="$root.notifications.length === 0">Keine Benachrichtigungen vorhanden.</span>
	</div>
</div>