<nav class="navbar navbar-default secondNav">
	<div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

		</div>
		<div class="collapse navbar-collapse in second-nav-collapse">
			<ul class="nav navbar-nav col-lg-12">
				<li ng-class="{ secondNavActive: $state.includes('dashboard')}"><a
					ui-sref="dashboard" class="second-nav-a"> <i
						class="fa fa-star menu-icon" aria-hidden="true"></i> Dashboard
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('central')}"><a
					ui-sref="central" class="second-nav-a"
					style="margin-left: 0px; padding-left: 0px;"> <i
						class="fa fa-bullseye menu-icon" aria-hidden="true"></i> Zentral
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('floors')}"><a
					ui-sref="floors" class="second-nav-a"> <i
						class="fa fa-home menu-icon" aria-hidden="true"></i> Etagen
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('rooms')}"><a
					ui-sref="rooms" class="second-nav-a"> <i
						class="fa fa-codepen menu-icon" aria-hidden="true"></i> R&auml;ume
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('categorys')}"><a
					ui-sref="categorys" class="second-nav-a"> <i
						class="fa fa-th-large menu-icon" aria-hidden="true"></i>
						Kategorien
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('statistic')}"><a
					ui-sref="statistics" class="second-nav-a"> <i
						class="fa fa-microphone menu-icon" aria-hidden="true"></i> Audio
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('weather')}"><a
					ui-sref="weather" class="second-nav-a"> <i
						class="fa fa-cloud menu-icon" aria-hidden="true"></i> Wetter
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('statistic')}"><a
					ui-sref="statistic" class="second-nav-a"> <i
						class="fa fa-bar-chart menu-icon" aria-hidden="true"></i>
						Statistik
				</a></li>
			</ul>
		</div>
	</div>
</nav>