
<nav class="navbar navbar-default secondNav">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

		</div>
		<div class="collapse navbar-collapse in second-nav-collapse">
			<ul class="nav navbar-nav">
				<li
					ng-class="{ secondNavActive: $state.includes('houseconfiguration.house')}"><a
					ui-sref="houseconfiguration.house" class="second-nav-a"
					style="margin-left: 0px; padding-left: 0px;"> <i
						class="fa fa-home menu-icon" aria-hidden="true"></i> Haus
				</a></li>
				<li
					ng-class="{ secondNavActive: $state.includes('houseconfiguration.floors')}"><a
					ui-sref="houseconfiguration.floors" class="second-nav-a"> <i
						class="fa fa-home menu-icon" aria-hidden="true"></i> Etagen
				</a></li>
				<li
					ng-class="{ secondNavActive: $state.includes('houseconfiguration.rooms')}"><a
					ui-sref="houseconfiguration.rooms" class="second-nav-a"> <i
						class="fa fa-codepen menu-icon" aria-hidden="true"></i> R&auml;ume
				</a></li>
				<li
					ng-class="{ secondNavActive: $state.includes('houseconfiguration.dashboard')}"><a
					ui-sref="houseconfiguration.dashboard" class="second-nav-a"> <i
						class="fa fa-star menu-icon" aria-hidden="true"></i> Dashboard
				</a></li>
				<li
					ng-class="{ secondNavActive: $state.includes('houseconfiguration.wlan')}"><a
					ui-sref="houseconfiguration.wlan" class="second-nav-a"> <i
						class="fa fa-wifi menu-icon" aria-hidden="true"></i> WLAN
				</a></li>
			</ul>
		</div>
	</div>
</nav>
