<nav class="navbar navbar-default secondNav">
	<div>
		<div class="navbar-header">
		    <div ng-click="goPrevState()" class="visible-xs" style="float:left;color:white;padding:12px;font-size: 2em;cursor: pointer;">
			    <i class="fa fa-reply menu-icon" aria-hidden="true"></i>
		    </div>
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navCollapse"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

		</div>
		<div class="collapse navbar-collapse second-nav-collapse" id="navCollapse">
			<ul class="nav navbar-nav col-lg-12">
				<li ng-class="{ secondNavActive: $state.includes('dashboard')}"><a
					ui-sref="dashboard" class="second-nav-a"> <i
						class="fa fa-star menu-icon" aria-hidden="true"></i><span class="hidden-sm"> Dashboard</span>
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('central')}"><a
					ui-sref="central" class="second-nav-a"> <i
						class="fa fa-bullseye menu-icon" aria-hidden="true"></i> <span class="hidden-sm">Zentral</span>
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('floors')}"><a
					ui-sref="floors" class="second-nav-a"> 
					<img src="app/icons/etageicon_sw.png" class="menu-icon" height="20" width="20" style="vertical-align: text-bottom;padding-right: 5px;"/>
					<span class="hidden-sm"> Etagen</span>
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('rooms')}"><a
					ui-sref="rooms" class="second-nav-a"> <i
						class="fa fa-codepen menu-icon" aria-hidden="true"></i> <span class="hidden-sm">R&auml;ume</span>
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('categorys')}"><a
					ui-sref="categorys" class="second-nav-a"> <i
						class="fa fa-th-large menu-icon" aria-hidden="true"></i>
						<span class="hidden-sm">Kategorien</span>
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('statistic')}"><a
					ui-sref="statistics" class="second-nav-a"> <i
						class="fa fa-microphone menu-icon" aria-hidden="true"></i> <span class="hidden-sm">Audio</span>
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('weather')}"><a
					ui-sref="weather" class="second-nav-a"> <i
						class="fa fa-cloud menu-icon" aria-hidden="true"></i> <span class="hidden-sm">Wetter</span>
				</a></li>
				<li ng-class="{ secondNavActive: $state.includes('statistic')}"><a
					ui-sref="statistic" class="second-nav-a"> <i
						class="fa fa-bar-chart menu-icon" aria-hidden="true"></i>
						<span class="hidden-sm">Statistik</span>
				</a></li>
			</ul>
		</div>
	</div>
</nav>
