<div>

<ul class="nav nav-tabs col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <li class="active"><a showtab="" ui-sref="activities">Aktivit&auml;ten</a></li>
    <li><a showtab="" ui-sref="pv">Photovoltaikanlage</a></li>
    <li><a showtab="" ui-sref="water">Wasserverbrauch</a></li>
    <li><a showtab="" ui-sref="powerconsumption">Stromverbrauch</a></li>
</ul>
	 <div class="row">
	 	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="margin-top:30px;">
		<span class="activitySpan">Letze Aktivit&auml;t:</span><span> {{lastActivity}}</span>
		</div>
		<h3 class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">Bewegungsprofil</h3>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<div ng-repeat="activity in lastActivitys">
				<span>{{activity.ts}}: {{activity.text	}}</span>
				<span></span>
			</div>
		</div>
	</div>
</div>