<div>
	<div class="row row-centered">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>{{$title}}</h1>
			<form class="form-horizontal" name="editRoomForm" novalidate>
				<div class="form-group">
					<label for="oldPin" class="col-sm-3 col-md-3 col-lg-1 control-label"
						id="nameLabel">Begin</label>
					<div class="col-sm-12 col-md-7 col-xs-12 col-lg-2">
						<uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
					</div>
				</div>
				<div class="form-group">
					<label for="oldPin" class="col-sm-3 col-md-3 col-lg-1 control-label"
						id="nameLabel">Ende</label>
					<div class="col-sm-12 col-md-7 col-xs-12 col-lg-2">
						<uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
					</div>
				</div>
				<div class="form-group">
					<label for="oldPin" class="col-sm-3 col-md-3 col-lg-1 control-label"
						id="nameLabel">Temperatur</label>
					<div class="col-sm-12 col-md-7 col-xs-12 col-lg-2">
						<select style="width:100%;" ng-model-options=" {getterSetter: true }"
						    ng-model="room.getSetFloor" ng-change="categoryChanged()"
						    ng-options="floor as floor.getName() for floor in houses[houseIndex].getFloors()"></select>
					</div>
				</div>

				<div class="form-group col-sm-9">
					<button ng-disabled="editRoomForm.$invalid"
						class="btn btn-default" ng-click="save()">Speichern</button>
					<button class="btn btn-default"
						ng-click="cancel()">Abbrechen</button>
				</div>
			</form>
		</div>
	</div>
</div>