<div class="row" ng-swipe-right="prevCategory($event)"
	ng-swipe-left="nextCategory($event)">
	<h1 class="col-xs-10 col-sm-10 col-md-10 col-lg-12 "
		ng-show="!$state.includes('rooms.detail.heatingAutopilot') &&!$state.includes('rooms.detail.coolingAutopilot') && !$state.includes('rooms.detail.addTimePeriod')">Kategorie: {{categoryName}}</h1>
	<aside>
		<div class="col-md-2 col-sm-2 col-lg-2 hidden-sm subnav"
			ng-show="!$state.includes('rooms.detail.heatingAutopilot') && !$state.includes('rooms.detail.coolingAutopilot') && !$state.includes('rooms.detail.addTimePeriod')">
			<div ng-repeat="category in allCategories"
				class="col-md-12 col-lg-12 col-sm-12 click subnav-component"
				style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;"
				ng-click="showCategory(category.getId())"
				ng-class="{'subnav-active': category.getId() == categoryId}">
				<span ng-class="{'component-text': category.getId() == categoryId}">{{category.getName()}}</span>
			</div>
		</div>
	</aside>

	 <div class="col-md-9 col-sm-9 col-lg-9 col-xs-11 border-left" style="padding: 0px;margin:0px;"
		ng-show="!$state.includes('rooms.detail.heatingAutopilot') && !$state.includes('rooms.detail.coolingAutopilot') && !$state.includes('rooms.detail.addTimePeriod')">
		<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12"
		     ng-repeat="(category, components) in allComponentsByCategorySortByRoom"
		     style="padding: 0px;">
			 <div class="col-md-12 col-xs-10 col-sm-12 col-xs-12 col-lg-12">
				<h2>{{category}}</h2>
			</div>
			 <div ng-repeat="component in components" swipe="false" style="padding:0px;"
					class="col-md-10 col-sm-11 col-lg-11 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 col-xs-12">
				<div comp-factory component="component" style="padding-left:15px;"></div>
				<div class="col-md-11 col-sm-11 col-lg-11 col-xs-12"></div>
			</div>
			<div class="col-md-11 col-sm-11 col-lg-11 col-xs-12" style="margin-bottom: 20px;"></div>
		</div>
	</div>
</div>