<div class="row">
	<div ng-show="!$state.includes('categorys.detail')">
		<h1 class="col-md-10 col-lg-10 col-xs-10 col-sm-10">Kategorien</h1>

		<div ng-repeat="category in houses[houseIndex].getAllCategories()"
		     ng-click="showCategory(category.getId())"
		     class="col-md-3 col-sm-5 col-lg-3 col-xs-11 card pointer"
		     style="margin-left: 15px; height: 80px;padding:0px;"
		     ng-class="{'not-configured': deleted}">
			<div class="text-center" style="padding: 0px; margin-top: 25px;">
					<span class="card-name"
					        style="padding:0px;border-style: none ! important; background-color: transparent ! important; overflow: hidden;white-space: nowrap;display: block;text-overflow: ellipsis;">
						{{category.getName()}}</span>
			</div>
		</div>
	</div>
	<div ui-view="DetailsContent"></div>
</div>