<div class="row row-centered">
	<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12">Kategorien</h1>
	<div>
		<div ng-repeat="category in houses[houseIndex].getUsedCategorys()"
			class="col-md-3 col-sm-3 col-lg-3 col-xs-11 card "
			style="margin-left: 15px; height: 130px;"
			ng-class="{'not-configured': deleted}">
			<div class="col-md-12 col-xs-11 col-sm-12" style="padding: 0px;">
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 card-name"
					style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;margin-top:17%;">
					<span class="card-name">{{category.getName()}}</span>
				</div>
			</div>
		</div>
	</div>
</div>