<div class="row row-centered">
	<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12">Zentral</h1>
	<div class="col-md-9 col-sm-9 col-lg-9 col-xs-11 col-lg-offset-1" style="padding: 0px;">
		<div class="col-md-12 col-xs-12 col-sm-12 col-xs-12 col-lg-12" style="padding: 0px;">
			<div class="col-md-12 col-xs-12 col-sm-12 col-xs-12 col-lg-12">
				<h2>Allgemein</h2>
			</div>
			<div class="col-md-11 col-sm-11 col-lg-11 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 col-xs-12">
				<div comp-central></div>
				<div class="col-md-11 col-sm-11 col-lg-11 col-xs-12"></div>
			</div>
			<div class="col-md-11 col-sm-11 col-lg-11 col-xs-12" style="margin-bottom: 20px;"></div>
		</div>
		<div class="col-md-12 col-xs-12 col-sm-12 col-xs-12 col-lg-12"
		     ng-repeat="(category, components) in allComponentsByCategory"
		     style="padding: 0px;">
			<div class="col-md-12 col-xs-12 col-sm-12 col-xs-12 col-lg-12">
				<h2>{{category}}</h2>
			</div>
			<div ng-repeat="component in components"
			     class="col-md-11 col-sm-11 col-lg-11 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 col-xs-12">
				<div comp-factory component="component"></div>
				<div class="col-md-11 col-sm-11 col-lg-11 col-xs-12"></div>
			</div>
			<div class="col-md-11 col-sm-11 col-lg-11 col-xs-12" style="margin-bottom: 20px;"></div>
		</div>
	</div>
</div>