<div>
	<div class="row row-centered"
		ng-show="!$state.includes('houseconfiguration.dashboard.editQuicklink.*') && !$state.includes('houseconfiguration.dashboard.addQuicklink') &&
	!$state.includes('houseconfiguration.dashboard.addControl') && !$state.includes('houseconfiguration.dashboard.editControl.*')">
		<h1 class="col-md-10 col-lg-12 col-xs-10 col-sm-10">Dashboard</h1>
		<div class="col-md-10 col-lg-12 col-xs-10 col-sm-10">
			<span class="col-md-10 col-lg-12 col-xs-10 col-sm-10 tip">Die Elemente k&ouml;nnen mit drag und drop verschoben werden.</span>
			<h2 class="col-md-10 col-lg-12 col-xs-10 col-sm-10">Quick Links</h2>
			<div dragula='"first-bag"' dragula-model="dashboard.quicklinks">
				<div
					ng-repeat="quicklink in houses[houseIndex].getDashboard().quicklinks track by $index"
					class="col-md-3 col-sm-3 col-lg-3 col-xs-10 card drag"style="height:110px;margin-left:15px;">
					<div style="height: 40px;"
						class="col-md-11 col-xs-11 col-sm-11 col-lg-11">
						<button class="edit-btn btn-primary class" style="z-index: 3000;"
							ng-click="editQuicklink($index)" aria-label="Quicklink bearbeiten">
							<i class="fa fa-wrench" aria-hidden="true"></i>
						</button>
						<button class="settings-btn btn-primary" style="z-index: 3000;"
							ng-click="deleteQuicklink($index)" aria-label="Quicklink löschen">
							<i class="fa fa-remove" aria-hidden="true"></i>
						</button>
					</div>
					<div class="col-md-12 col-xs-11 col-sm-12 col-lg-12 text-center"
						style="padding: 0px;">
						<span class="card-name-settings">{{quicklink.typ.name}}</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-lg-3 col-xs-11 add-card drag"style="height:110px;margin-left:15px;padding:0px;"
				>
				<button class="add-btn" ng-click="addQuicklink()" aria-label="Quicklink hinzufügen">
					<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		<div class="col-md-10 col-lg-12 col-xs-10 col-sm-10">
			<h2 class="col-md-10 col-lg-12 col-xs-10 col-sm-10">Funktionseinheiten</h2>
			<div dragula='"second-bag"'>
				<div
					ng-repeat="control in controls track by $index"
					class="col-md-6 col-sm-6 col-xs-11 card"
					style="height: 100px; margin-left: 15px;">
					<div style="height: 40px;"
						class="col-md-11 col-xs-11 col-sm-11 col-lg-11">
						<button class="edit-btn btn-primary class" style="z-index: 3000;"
							ng-click="editControl($index)" aria-label="Kontrolleinheit bearbeiten">
							<i class="fa fa-wrench" aria-hidden="true"></i>
						</button>
						<button class="settings-btn btn-primary" style="z-index: 3000;"
							ng-click="deleteControl($index)" aria-label="Kontrolleinheit löschen">
							<i class="fa fa-remove" aria-hidden="true"></i>
						</button>
					</div>
					<div class="col-md-12 col-xs-11 col-sm-12">
						<div class="col-md-7" style="margin-top: 5px;">
							<span class="card-name-settings col-md-offset-2">{{control.getName()}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-11 add-card"
				style="height: 100px;">
				<button class="add-btn" ng-click="addControl()" aria-label="Kontrolleinheit hinzufügen">
					<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
	<div ui-view="DashboardConfigurationContent"></div>
</div>