
<div class="row"
	ng-show="!$state.includes('houseconfiguration.dashboard.editQuicklink.*') && !$state.includes('houseconfiguration.dashboard.addQuicklink') &&
	!$state.includes('houseconfiguration.dashboard.addControl') && !$state.includes('houseconfiguration.dashboard.editControl.*')">

	<h1 class="col-md-10 col-lg-10 col-xs-10 col-sm-10">Dashboard</h1>

	<h2 class="col-md-10 col-lg-10 col-xs-10 col-sm-10">Quick Links</h2>
	<div
		ng-repeat="quicklink in houses[houseIndex].getDashboard().quicklinks track by $index"
		ng-click="showQuicklink($index)" style="margin-left: 15px;"
		class="col-lg-2 col-md-2 col-sm-2 col-xs-4 card click text-center center-block">

		<div class="col-md-12 col-xs-11 col-sm-12 col-lg-12 text-center"
			style="padding: 0px; margin-top: 40px;">
			<span class="card-name-settings">{{quicklink.typ.name}}</span>
		</div>

	</div>

	<h2 class="col-md-10 col-lg-10 col-xs-10 col-sm-10">Funktionseinheiten</h2>

	<div
		ng-repeat="component in controls"
		class="col-md-11 col-sm-11 col-lg-11  col-lg-offset-1 col-xs-offset col-xs-10" style="margin-left:0px;">
		<div comp-factory component="component"></div>
	</div>
	<div ui-view="DashboardConfigurationContent"></div>
</div>