<div>
	<div class="row row-centered"
		ng-show="!$state.includes('houseconfiguration.dashboard.editQuicklink.*') && !$state.includes('houseconfiguration.dashboard.addQuicklink') &&
	!$state.includes('houseconfiguration.dashboard.addControl') && !$state.includes('houseconfiguration.dashboard.editControl.*')">
		<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12">Dashboard</h1>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Quick Links</h2>
			<div dragula='"first-bag"' dragula-model="dashboard.quicklinks">
				<div
					ng-repeat="quicklink in houses[houseIndex].getDashboard().quicklinks track by $index"
					style="margin-left: 15px;" class="col-md-3 col-sm-3 col-xs-11 card">
					<div style="height: 40px;"
						class="col-md-11 col-xs-11 col-sm-11 col-lg-11">
						<button class="edit-btn btn-primary class" style="z-index: 3000;"
							ng-click="editQuicklink($index)">
							<i class="fa fa-wrench" aria-hidden="true"></i>
						</button>
						<button class="settings-btn btn-primary" style="z-index: 3000;"
							ng-click="deleteQuicklink($index)">
							<i class="fa fa-remove" aria-hidden="true"></i>
						</button>
					</div>
					<div class="col-md-12 col-xs-11 col-sm-12 col-lg-12 text-center"
						style="padding: 0px;">
						<span class="card-name-settings">{{quicklink.typ.name}}</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-11 add-card"
				style="height: 100px; margin-left: 15px;">
				<button class="add-btn" ng-click="addQuicklink()">
					<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Funktionseinheiten</h2>
			<div dragula='"second-bag"'>
				<div
					ng-repeat="control in houses[houseIndex].getDashboard().controls"
					class="col-md-6 col-sm-6 col-xs-11 card"
					style="height: 50px; margin-left: 15px;">
					<div style="height: 40px;"
						class="col-md-11 col-xs-11 col-sm-11 col-lg-11">
						<button class="edit-btn btn-primary class" style="z-index: 3000;"
							ng-click="editControl($index)">
							<i class="fa fa-wrench" aria-hidden="true"></i>
						</button>
						<button class="settings-btn btn-primary" style="z-index: 3000;"
							ng-click="deleteControl($index)">
							<i class="fa fa-remove" aria-hidden="true"></i>
						</button>
					</div>
					<div class="col-md-12 col-xs-11 col-sm-12">
						<div class="col-md-7" style="margin-top: 5px;">
							<span class="card-name-settings col-md-offset-2">{{control.name}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-11 add-card"
				style="height: 50px;">
				<button class="add-btn" ng-click="addControl()">
					<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
	<div ui-view="DashboardConfigurationContent"></div>
</div>