<div>
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-12 col-lg-12"
			ng-show="!$state.includes('houseconfiguration.rooms.editComponent') && !$state.includes('houseconfiguration.rooms.addComponent')">
			<h1>{{$title}}</h1>
			<form class="form-horizontal" name="editRoomForm" novalidate>
				<div class="form-group">
					<label for="name" class="col-sm-3 col-md-3 col-lg-1 control-label"
						id="nameLabel">Name</label>
					<div class="col-sm-10 col-md-7 col-xs-10">
						<input ng-model="room.getSetName" class="form-control" name="name"
							id="name" ng-model-options=" {getterSetter: true }"
							ng-class="{'has-error': editRoomForm.name.$invalid}" required>
					</div>
				</div>
				<div class="form-group">
					<label id="iconLabel" name="iconLabel" for="icon"
						class="col-sm-3 col-md-3 col-lg-1 control-label">Icon</label>
					<div class="col-sm-11 col-md-7 col-xs-11">
						<div class="box">
							<input type="file" name="icon" id="icon"
								ng-file-select="onFileSelect($files)"
								class="inputfile inputfile-1"
								data-multiple-caption="{count} files selected" multiple /> <label
								for="file-1"><svg xmlns="http://www.w3.org/2000/svg"
									width="20" height="17" viewBox="0 0 20 17">
									<path
										d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg>
								<span>Icon ausw&auml;hlen&hellip;</span></label>
						</div>

						<i ng-show="room.getIcon() === undefined">Kein Icon
							ausgew&auml;hlt</i> <img alt="Icon des Raums"
							ng-src="{{room.getIcon()}}"
							ng-show="room.getIcon() !== undefined" width="50" height="50" />
					</div>
				</div>
				<div class="form-group">
					<label for="confirmPin"
						class="col-xs-10 col-sm-8 col-md-6 col-lg-6 control-label"
						id="confirmPinLabel">Komponenten</label>
					<div class="col-sm-10 col-md-12 col-xs-10">
						<div class="col-md-3 col-sm-3 col-xs-11 card"
							ng-repeat="component in room.getComponents() track by $index">

							<div style="height: 40px;"
								class="col-md-11 col-xs-11 col-sm-11 col-lg-11">
								<button class="edit-btn btn-primary class"
									style="z-index: 3000;"
									ng-click="editComponent(component.getId())"
									aria-label="Komponente bearbeiten">
									<i class="fa fa-wrench"></i>
								</button>
								<button class="settings-btn btn-primary" style="z-index: 3000;"
									ng-click="deleteComponent($index)"
									aria-label="Komponente löschen">
									<i class="fa fa-remove" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-md-12 col-xs-11 col-sm-12">
								<div class="col-md-7" style="margin-top: 5px;">
									<span class="card-name-settings col-md-offset-2">{{component.getName()}}</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-11 add-card"
							style="height: 100px;">
							<button class="add-btn" ng-click="addComponent()"
								aria-label="Komponente hinzufügen">
								<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="form-group col-sm-9">
					<button ng-disabled="editRoomForm.$invalid" class="btn btn-default"
						aria-label="Speichern" ng-click="save()">Speichern</button>
					<button class="btn btn-default" ng-click="cancel()"
						aria-label="Abbrechen">Abbrechen</button>
				</div>
			</form>
		</div>
	</div>
</div>