<div>
	<div class="row row-centered">
		<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
			<h1>{{$title}}</h1>
			<form class="form-horizontal" name="editComponentForm" novalidate>
				<div class="form-group col-lg-10 col-md-10 col-xs-10 col-sm-10">
					<label for="name" class="col-xs-5 col-sm-3 col-md-3 col-lg-2 control-label"
						id="nameLabel" style="padding:0px;">Name</label>
					<div class="col-sm-10 col-md-7 col-xs-10 col-lg-4" style="padding:0px;">
						<input type="text" ng-model="name" class="form-control"
							name="name" id="name" 
							ng-class="{'has-error': editComponentForm.name.$invalid}"
							required>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-11">
					<button ng-disabled="eeditComponentForm.$invalid"
						aria-label="Speichern" class="btn btn-default" ng-click="save()">Speichern</button>
					<button class="btn btn-default" aria-label="Abbrechen"
						ng-click="cancel()">Abbrechen</button>
				</div>


			</form>
		</div>
	</div>
</div>
</div>