<div>
	<div class="row row-centered">
		<div
			class="col-xs-8 col-sm-8 col-md-7 col-xs-offset-2 col-md-offset-3 col-sm-offset-2 ">
			<h1>{{$title}}</h1>
			<form class="form-horizontal" name="changePinForm" novalidate>
				<div class="form-group">
					<label class="col-sm-3 col-md-3 control-label" id="categoryLabel">Kategorie</label>
					<div class="col-sm-12 col-md-7 col-xs-12">
						<select ng-model="quicklink.category" style="width: 100%;"
							ng-change="categoryChanged()">
							<option ng-repeat="category in categories"
								ng-selected="quicklink.category">{{category}}</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="oldPin" class="col-sm-3 col-md-3 control-label"
						id="typLabel">Typ</label>
					<div class="col-sm-12 col-md-7 col-xs-12">
						<select ng-model="typ.name" style="width: 100%;">
							<option ng-repeat="typ in types" ng-selected="typ.getName()">{{typ.getName()}}</option>
						</select>
					</div>
				</div>
				<div class="form-group col-sm-9">
					<button ng-disabled="changePinForm.$invalid"
						class="btn btn-default" ng-click="save()">Speichern</button>
				</div>
			</form>
		</div>
	</div>
</div>