
<div>
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-12 col-lg-12"
			ng-show="!$state.includes('houseconfiguration.house.addComponent') && !$state.includes('houseconfiguration.house.editComponent')">
			<h1 class="col-xs-11 col-sm-11 col-md-11 col-lg-12" style="padding-left: 0px;">Haus
				konfigurieren</h1>

			<form class="form-horizontal" name="editHouseForm" novalidate>
				<div class="form-group">
					<label for="name" class="col-sm-1 col-md-1 col-xs-1 col-lg-1 control-label"
						id="nameLabel">Name</label>
					<div class="col-sm-10 col-md-7 col-xs-10">
						<input ng-model="house.getSetName"
							ng-model-options=" {getterSetter: true }" class="form-control"
							name="name" id="name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="description"
						class="col-sm-1 col-md-1 col-xs-1 col-lg-1 control-label"
						id="descriptionLabel">Beschreibung</label>
					<div class="col-sm-10 col-md-7 col-xs-10">
						<textarea ng-model="house.getSetDescription" style="height:100px;"
							ng-model-options=" {getterSetter: true }" class="form-control"
							name="description" id="description" required></textarea>
					</div>
				</div>				
				<div class="form-group">
					<label for="city"
						class="col-sm-1 col-md-1 col-xs-1 col-lg-1 control-label" id="cityLabel">Standort</label>
					<div class="col-sm-10 col-md-7 col-xs-10">
						<autocomplete ng-model="house.city" data="cities" id="city"
							name="city"></autocomplete>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-10 col-md-10 col-lg-10 col-xs-10 control-label"
						id="confirmPinLabel">Komponenten</label>
					<div class="col-md-3 col-sm-3 col-lg-3 col-xs-10 card"
						style="margin-left: 15px;"
						ng-repeat="component in houses[houseIndex].getComponents()">
						<div style="height: 40px;"
							class="col-md-11 col-xs-11 col-sm-11 col-lg-11">
							<button class="edit-btn btn-primary class" style="z-index: 3000;"
								ng-click="editComponent($index)"
								aria-label="Komponente bearbeiten">
								<i class="fa fa-wrench"></i>
							</button>
							<button class="settings-btn btn-primary" style="z-index: 3000;"
								ng-click="deleteComponent($index)"
								aria-label="Komponente löschen">
								<i class="fa fa-remove" aria-hidden="true"></i>
							</button>
						</div>
						<div class="col-md-12 col-xs-11 col-sm-11">
							<div class="col-sm-7 col-xs-7 col-md-7" style="margin-top: 5px;">
								<span class="card-name-settings col-md-offset-2">{{component.getName()}}</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-lg-3 col-xs-10 add-card"
						style="height: 95px; margin-left: 15px;">
						<button class="add-btn" aria-label="Komponente hinzufügen"
							ng-click="addComponent()">
							<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
						</button>
					</div>

				</div>
				<div class="form-group col-xs-11 col-sm-10">
					<button ng-disabled="editHouseForm.$invalid" aria-label="Speichern"
						class="btn btn-default col-xs-2 col-sm-2 col-md-3 col-lg-2"
						ng-click="save()">Speichern</button>
					<button class="btn btn-default col-xs-2 col-sm-2 col-md-3 col-lg-2"
						aria-label="Abbrechen" ng-click="cancel()">Abbrechen</button>
				</div>
			</form>
		</div>
		<div ui-view="ComponentContent"></div>
	</div>
</div>