<div>
	<div class="row"
		ng-show="!$state.includes('houseconfiguration.floors.editFloor.*') && !$state.includes('houseconfiguration.floors.addFloor')">
		<h1 class="col-md-10 col-lg-10 col-xs-10 col-sm-10">Etagen</h1>
		<div dragula='"first-bag"'
			dragula-model="houses[houseIndex].getFloors()">
			<div ng-repeat="floor in houses[houseIndex].getFloors()"
				class="col-md-3 col-sm-3 col-lg-3 col-xs-10 card drag"style="height:110px;margin-left:15px"
				ng-class="{'not-configured': deleted}">
				<div style="height:40px;"
					class="col-md-11 col-xs-11 col-sm-11 col-lg-11">
					<button class="room-config-btn btn-primary col-lg-5" style="z-index:3000;"
						ng-click="editRooms()" aria-label="Etage konfigurieren">
						<i class="fa fa-wrench" style="width:30px;"></i>R&auml;ume
					</button>
					<button class="edit-btn btn-primary class" style="z-index:3000;"
						ng-click="editFloor(floor.getId())" aria-label="Etage löschen">
						<i class="fa fa-wrench"></i>
					</button>
					<button class="settings-btn btn-primary" style="z-index:3000;"
						ng-click="deleteFloor($index)">
						<i class="fa fa-remove" aria-hidden="true"></i>
					</button>
				</div>
				<div style="color: #ae1414;padding:0px;margin-top:40px;position:absolute;"
					ng-show="!floor.isConfigured()"
					class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
				<i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
				</div>
				<div class="col-md-12 col-xs-11 col-sm-12 col-lg-12 text-center" style="margin-top:10px;padding:0px;">
				<span class="card-name-settings">{{floor.getName()}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-10 add-card col-lg-3"
			style="height: 100px; margin-left: 15px;">
			<button class="add-btn" ng-click="addFloor()" aria-label="Etage hinzufügen">
				<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	<div ui-view="EditFloor"></div>
</div>