<div class="row row-centered">
	<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12">Etagen</h1>
	<div>
		<div ng-repeat="floor in houses[houseIndex].getFloors()"
			class="col-md-3 col-sm-3 col-lg-3 col-xs-11 card "
			style="margin-left: 15px; height: 130px;"
			ng-class="{'not-configured': deleted}">
			
			<button ng-click="configureFloor(floor.getId())" aria-label="Etage konfigurieren"
					class="btn-primary settings-btn">
					<i class="fa fa-wrench" aria-hidden="true"></i>
				</button>
			

			<div class="col-md-12 col-xs-11 col-sm-12" style="padding: 0px;">
				<div class="col-md-4 col-lg-6 col-xs-6 col-sm-6 card-name"
					style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
					<button class="card-name noBackground click" style="border-style:none ! important; background-color: transparent ! important;" aria-label="Etage anzeigen">{{floor.getName()}}</button>
				</div>
			</div>
			<div class="col-md-9 col-lg-9 col-xs-11 col-sm-12" style="margin-top: 15px;padding-left:4px;">
			<span class="component-text">Beschattung: </span>
			<button class="btn btn-primary" aria-label="Beschattung zu"><i class="fa fa-arrow-down"></i> </button>
			<button class="btn btn-primary" aria-label="Beschattung auf"><i class="fa fa-arrow-up"></i> </button>
			</div>
			<button ng-click="lightOff($index)" aria-label="Licht aus"
				class="btn-primary col-xs-5 col-sm-5 col-md-5 col-lg-4 floors-card-btn">
				Licht aus</button>
			<button ng-click="consumerOff($index)" aria-label="Verbraucher aus"
				class="btn-primary col-xs-5 col-sm-5 col-md-5 col-lg-6 floors-card-btn">
				Verbraucher aus</button>

		</div>
		<div class="col-md-3 col-sm-3 col-xs-11 add-card col-lg-3"
			style="height: 120px; margin-left: 15px;">
			<button class="add-btn" ng-click="addFloor()" aria-label="Etage hinzufügen">
				<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</div>