<div>
	<div class="row row-centered"
		ng-show="!$state.includes('houseconfiguration.floors.editFloor.*') && !$state.includes('houseconfiguration.floors.addFloor')">
		<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12">Etagen</h1>
		<div dragula='"first-bag"'
			dragula-model="houses[houseIndex].getFloors()">
			<div ng-repeat="floor in houses[houseIndex].getFloors()"
				class="col-md-3 col-sm-3 col-xs-11 card drag" style="margin-left: 15px;"
				ng-class="{'not-configured': deleted}">
				<div
					class="col-xs-4 col-xs-offset-9 col-md-5 col-md-offset-9 col-sm-6 col-sm-offset-7">
					<button class="settings-btn btn-primary"
						ng-click="editFloor($index)">
						<i class="fa fa-wrench" aria-hidden="true"></i>
					</button>
					<button class="settings-btn btn-primary"
						ng-click="deleteFloor($index)">
						<i class="fa fa-remove" aria-hidden="true"></i>
					</button>
				</div>
				<div class="col-md-12 col-xs-11 col-sm-12">
					<div style="color: #ae1414"
						class="col-lg-2 col-md-2 col-sm-3 col-xs-3"
						ng-show="houses.length">
						<i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
					</div>
					<div class="col-md-6 col-lg-6" style="margin-top: 5px;">
						<span class="card-name-settings col-md-offset-2">{{floor.getName()}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-11 add-card" style="height: 100px;margin-left:15px;">
			<button class="add-btn" ng-click="addFloor()">
				<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
			</button>
		</div>
	</div>
	<div ui-view="EditFloor"></div>
</div>