<div class="row row-centered">
	<br /> <br /> <br />
	<div ng-repeat="house in houses" ng-click="selectHouse($index)"
		class="col-md-4 col-sm-5 col-lg-4 col-xs-11 card col-lg-offset-1 col-sm-offset-0-5 col-md-offset-1"
		style="height: 220px;" ng-class="{'not-configured': deleted}">
		<div class="col-md-12 col-xs-11 col-sm-11 col-lg-11"
			style="margin-top: 20px;">
			<span
				class="card-name col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-offset-2">
				{{house.getName()}} in {{house.getZip()}} {{house.getCity()}} </span>
		</div>
		<div class="col-md-12 col-xs-11 col-sm-12 col-lg-11">
			<span
				class="house-description col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-lg-offset-3">
				{{house.getDescription()}} </span>
		</div>
		<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="padding-left:0px;">
			<button ng-click="setShadowing(0)"
				class="btn-primary col-xs-5 col-sm-5 col-md-5 col-lg-5 house-card-btn">
				Beschattung zu</button>

			<button ng-click="setShadowing(100)"
				class="btn-primary col-xs-5 col-sm-5 col-md-5 col-lg-5 house-card-btn">
				Beschattung auf</button>
			<button ng-click="lightOff()"
				class="btn-primary col-xs-5 col-sm-5 col-md-5 col-lg-5 house-card-btn">
				Licht aus</button>
			<button ng-click="consumerOff()"
				class="btn-primary col-xs-5 col-sm-5 col-md-5 col-lg-5 house-card-btn">
				Verbraucher aus</button>
			<button
				class="btn-primary col-xs-5 col-sm-5 col-md-5 col-lg-5 house-card-btn"
				ng-click="configureHouse($index)">
				<i class="fa fa-wrench" aria-hidden="true"></i> Konfigurieren
			</button>
			<button
				class="btn-primary col-xs-5 col-sm-5 col-md-5 col-lg-5 house-card-btn"
				ng-click="goStatistic($index)">
				<i class="fa fa-bar-chart" aria-hidden="true"></i> Statistik
			</button>
		</div>
	</div>
	<div
		class="col-md-4 col-sm-5 col-lg-4 col-xs-11 add-card col-lg-offset-1 col-md-offset-1 col-sm-offset-0-5"
		style="height: 200px;">
		<button class="add-btn" ng-click="addHouse()">
			<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
		</button>
	</div>
</div>