<div>
	<div class="row row-centered">
		<h1 class="col-md-10 col-lg-12 col-sm-10 col-xs-10">H&auml;user</h1>
		<div ng-repeat="house in houses"
			class="col-md-3 col-sm-3 col-xs-10 card col-md-offset-1 col-sm-offset-1"
			ng-class="{'not-configured': deleted}" style="margin-left: 15px;">
			<div style="height: 40px;"
				class="col-md-11 col-xs-11 col-sm-11 col-lg-11">
				<button class="edit-btn btn-primary class" style="z-index: 3000;"
					ng-click="configureHouse($index)" aria-label="Haus konfigurieren">
					<i class="fa fa-wrench" aria-hidden="true"></i>
				</button>
				<button class="settings-btn btn-primary" style="z-index: 3000;"
					ng-click="deleteHouse($index)" aria-label="Haus löschen">
					<i class="fa fa-remove" aria-hidden="true"></i>
				</button>
			</div>
			<div ng-show="!house.isConfigured()"
				style="color: #ae1414; padding: 0px; margin-top: 30px; position: absolute;"
				class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
				<i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
			</div>
			<div class="col-md-12 col-xs-11 col-sm-12 col-lg-12 text-center"
				style="padding: 0px;">
				<span class="card-name-settings">{{house.getName()}}</span>
			</div>
		</div>
		<div
			class="col-md-3 col-sm-3 col-xs-10 add-card col-md-offset-1 col-sm-offset-1"
			style="height: 95px; margin-left: 15px;">
			<button class="add-btn" ng-click="addHouse()" aria-label="Haus hinzufügen">
				<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</div>