<div class="row row-centered">
	<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12">R&auml;ume</h1>
	<div class="col-md-2 col-sm-2 col-lg-2 hidden-xs subnav">

		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
			<button class="btn btn-default" ng-click="addRoom()">
				Raum hinzufügen
			</button>
		</div>
		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="padding: 0px;">
			<hr />
		</div>
		<div ng-repeat="room in houses[houseIndex].getRooms()"
		     class="col-md-12 col-lg-12 col-sm-12 click subnav-component"
		     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;"
		     ng-click="showRoom(room.getId())"
		     ng-class="{'subnav-active': room.getId() == roomId}">
			<span ng-class="{'component-text': room.getId() == roomId}">{{room.getName()}}</span>
		</div>
	</div>

	<div class="col-md-9 col-sm-9 col-lg-9 col-xs-11" style="padding: 0px;">
		<div class="col-md-12 col-xs-12 col-sm-12 col-xs-12 col-lg-12" style="padding: 0px;">
			<!-- ng-repeat="(category, components) in houses[houseIndex].getRooms()[roomId].getComponentsByCategory()" -->
			<div class="col-md-12 col-xs-12 col-sm-12 col-xs-12 col-lg-12">
				<h2>Beleuchtung</h2>
			</div>
			<div class="col-md-11 col-sm-11 col-lg-11 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 col-xs-12">
				<div class="col-md-12 col-xs-12 col-sm-12 component" style="padding: 0px;">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-3 col-lg-3 col-xs-6 col-sm-3 card-name"
						     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
							<span class="component-name">Pool</span>
						</div>
					</div>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-9 col-lg-9 col-xs-11 col-sm-9" style="margin-top: 15px;">
							<span class="component-text">Abdeckung:&nbsp;</span>
							<button class="btn btn-primary"><i class="fa fa-arrow-down fa-rotate-90"></i> </button>
							<button class="btn btn-primary"><i class="fa fa-square"></i> </button>
							<button class="btn btn-primary"><i class="fa fa-arrow-up fa-rotate-90"></i> </button>
							<span class="component-text">&nbsp;&nbsp;&nbsp;Status:&nbsp;</span>
							<!--<div class="btn btn-primary"><i class="shutters" data-index="5"></i></div>-->
						</div>
					</div>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-6 col-lg-6 col-xs-11 col-sm-6" style="margin-top: 15px;">
							<span class="component-text">Soll Temperatur:&nbsp;&nbsp;</span>
							<input id="slider" data-slider-class='slider' type="text" data-slider-min="15" data-slider-max="40" data-slider-step="1" data-slider-value="26"/>
							<span id="ist-temp" class="component-text">&nbsp;&nbsp;28 °C</span>
						</div>
						<div class="col-md-4 col-lg-4 col-xs-11 col-sm-4" style="margin-top: 15px;">
							<span class="component-text">Ist Temperatur: 20°C</span>
						</div>
					</div>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-6 col-lg-6 col-xs-11 col-sm-6" style="margin-top: 15px;">
							<span class="component-text">Gegenstromanlage:&nbsp;&nbsp;</span>
							<input id="slider2" data-slider-class='slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="10"/>
							<span id="ist-percent" class="component-text">&nbsp;&nbsp;10 %</span>
						</div>
					</div>
					<button ng-click="configureComponent($index)"
					        class="btn-primary settings-btn">
						<i class="fa fa-wrench" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
		<div>
		<!-- <div ng-repeat="(key, components) in houses[houseIndex].getRoomById(roomId).getComponentsByCategory()">
			<h2>{{key}}</h2>
			<div ng-repeat="c in components track by $index">
				<span>Komponente: {{c.getName()}}</span>
			</div>
		</div>-->
		</div>
	</div>
</div>

<script>
	var slider = new Slider('#slider', {
		formatter: function(value) {
			$('#ist-temp').html('&nbsp;&nbsp;' + value + ' °C');
			return 'Gewünschte Temperatur: ' + value + ' °C';
		}
	});
	var slider2 = new Slider('#slider2', {
		formatter: function(value) {
			$('#ist-percent').html('&nbsp;&nbsp;' + value + ' %');
			return 'Gewünschte Temperatur: ' + value + ' %';
		}
	});
</script>