<div class="row row-centered" ng-swipe-right="prevRoom($event)"
	ng-swipe-left="nextRoom($event)">
	<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12"
		ng-show="!$state.includes('rooms.detail.heatingAutopilot') &&!$state.includes('rooms.detail.coolingAutopilot') && !$state.includes('rooms.detail.addTimePeriod')">R&auml;ume</h1>
	<aside>
		<div class="col-md-2 col-sm-2 col-lg-2 hidden-xs"
			ng-show="!$state.includes('rooms.detail.heatingAutopilot') && !$state.includes('rooms.detail.coolingAutopilot') && !$state.includes('rooms.detail.addTimePeriod')">
			<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="padding: 0;">
				<button class="btn btn-default" ng-click="addRoom()">Raum
					hinzufügen</button>
			</div>
			<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12"
				style="padding: 0px;">
				<hr />
			</div>
			<div ng-repeat="room in houses[houseIndex].getRooms()"
				class="col-md-12 col-lg-12 col-sm-12 click subnav-component"
				style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;"
				ng-click="showRoom(room.getId())"
				ng-class="{'subnav-active': room.getId() == roomId}">
				<span ng-class="{'component-text': room.getId() == roomId}">{{room.getName()}}</span>
			</div>
		</div>
	</aside>

	<div class="col-md-9 col-sm-9 col-lg-9 col-xs-11 border-left" style="padding: 0px;"
		ng-show="!$state.includes('rooms.detail.heatingAutopilot') && !$state.includes('rooms.detail.coolingAutopilot') && !$state.includes('rooms.detail.addTimePeriod')">
		<div class="col-md-12 col-xs-12 col-sm-12 col-xs-12 col-lg-12"
		     ng-repeat="(category, components) in componentsByCategory"
		     style="padding: 0px;">
			<div class="col-md-12 col-xs-12 col-sm-12 col-xs-12 col-lg-12">
				<h2>{{category}}</h2>
			</div>
			<div ng-repeat="component in components" swipe="false"
					class="col-md-11 col-sm-11 col-lg-11 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 col-xs-12">
				<div comp-factory component="component"></div>
				<div class="col-md-11 col-sm-11 col-lg-11 col-xs-12"></div>
			</div>
			<div class="col-md-11 col-sm-11 col-lg-11 col-xs-12" style="margin-bottom: 20px;"></div>
		</div>
	</div>
</div>