<div class="row row-centered" ng-swipe-right="prevRoom()"
	ng-swipe-left="nextRoom()">
	<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12"
		ng-show="!$state.includes('rooms.detail.heatingAutopilot') &&!$state.includes('rooms.detail.coolingAutopilot') && !$state.includes('rooms.detail.addTimePeriod')">R&auml;ume</h1>
	<aside>
		<div class="col-md-2 col-sm-2 col-lg-2 hidden-xs subnav"
			ng-show="!$state.includes('rooms.detail.heatingAutopilot') && !$state.includes('rooms.detail.coolingAutopilot') && !$state.includes('rooms.detail.addTimePeriod')">

			<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
				<button class="btn btn-default" ng-click="addRoom()">Raum
					hinzufügen</button>
			</div>
			<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12"
				style="padding: 0px;">
				<hr />
			</div>
			<div ng-repeat="room in houses[houseIndex].getRooms()"
				class="col-md-12 col-lg-12 col-sm-12 click subnav-component"
				style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;"
				ng-click="showRoom(room.getId())"
				ng-class="{'subnav-active': room.getId() == roomId}">
				<span ng-class="{'component-text': room.getId() == roomId}">{{room.getName()}}</span>
			</div>
		</div>
	</aside>

	<div class="col-md-9 col-sm-9 col-lg-9 col-xs-11" style="padding: 0px;"
		ng-show="!$state.includes('rooms.detail.heatingAutopilot') && !$state.includes('rooms.detail.coolingAutopilot') && !$state.includes('rooms.detail.addTimePeriod')">
		<div class="col-md-12 col-xs-12 col-sm-12 col-xs-12 col-lg-12"
		     ng-repeat="(category, components) in componentsByCategory"
		     style="padding: 0px;">
			<div class="col-md-12 col-xs-12 col-sm-12 col-xs-12 col-lg-12">
				<h2>{{category}}</h2>
				<!--<toggle-switch
						ng-model="switchStatus" on-label="Ein"
						off-label="Aus" style="height: 30px;">
				</toggle-switch>
				<input colorpicker type="text" />
				<slider
						ng-model="switchStatus"
				        value="14"
				        min="1"
				        max="100"
				        step="1"
				>
					If you can see this then slider did not get compiled by Angular.
					Check that all necessary files are included, did you run "bower install"?
				</slider>-->
			</div>
			<div ng-repeat="component in components"
					class="col-md-11 col-sm-11 col-lg-11 col-md-offset-1 col-sm-offset-1 col-lg-offset-1 col-xs-12">
				<!--<div comp-factory component="component"></div>-->
				<comp-dishwasher component="component"></comp-dishwasher>
				<div class="col-md-11 col-sm-11 col-lg-11 col-xs-12"></div>
				<!--<comp-bathtub component="{id: '2', name: 'Fenster'}"></comp-bathtub>-->
				<!--<div class="col-md-12 col-xs-12 col-sm-12 component" style="padding: 0px;">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-2 col-lg-2 col-xs-4 col-sm-2 card-name"
						     style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
							<span class="card-name">Garage</span>
						</div>
						<div class="col-md-9 col-lg-9 col-xs-11 col-sm-9" style="margin-top: 15px;">

							<span class="component-text">Beschattung:&nbsp;</span>
							<button class="btn btn-primary"><i class="fa fa-arrow-down"></i> </button>
							<button class="btn btn-primary"><i class="fa fa-square"></i> </button>
							<button class="btn btn-primary"><i class="fa fa-arrow-up"></i> </button>
							<span class="component-text">&nbsp;&nbsp;&nbsp;Status:&nbsp;</span>
							<div class="garage" data-index="9" style="height: 16px; width: 16px;"></div>
						</div>
					</div>
					<button ng-click="configureComponent($index)"
					        class="btn-primary settings-btn">
						<i class="fa fa-wrench" aria-hidden="true"></i>
					</button>-->
				</div>
			</div>
		</div>
		<div>
		<!-- <div ng-repeat="(key, components) in houses[houseIndex].getRoomById(roomId).getComponentsByCategory()">
			<h2>{{key}}</h2>
			<div ng-repeat="c in components track by $index">
				<span>Komponente: {{c.getName()}}</span>
			</div>
		</div>-->
		</div>
	</div>
</div>