<div class="profileElements" data-ng-class="{touchProgram: isTouch()}">
    <div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 0)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 0) + 1}}" data-ng-class=
    "getDropClasses(block, 0)" data-ng-click=
    "showDetails(block, 0, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 0)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 0, facility)"></span>
        </div>
    </div><!--
    Leerraum zwischen Elementen unterdrücken
 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 1)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 1) + 1}}" data-ng-class=
    "getDropClasses(block, 1)" data-ng-click=
    "showDetails(block, 1, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 1)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 1, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 2)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 2) + 1}}" data-ng-class=
    "getDropClasses(block, 2)" data-ng-click=
    "showDetails(block, 2, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 2)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 2, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 3)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 3) + 1}}" data-ng-class=
    "getDropClasses(block, 3)" data-ng-click=
    "showDetails(block, 3, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 3)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 3, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 4)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 4) + 1}}" data-ng-class=
    "getDropClasses(block, 4)" data-ng-click=
    "showDetails(block, 4, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 4)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 4, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 5)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 5) + 1}}" data-ng-class=
    "getDropClasses(block, 5)" data-ng-click=
    "showDetails(block, 5, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 5)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 5, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 6)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 6) + 1}}" data-ng-class=
    "getDropClasses(block, 6)" data-ng-click=
    "showDetails(block, 6, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 6)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 6, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 7)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 7) + 1}}" data-ng-class=
    "getDropClasses(block, 7)" data-ng-click=
    "showDetails(block, 7, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 7)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 7, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 8)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 8) + 1}}" data-ng-class=
    "getDropClasses(block, 8)" data-ng-click=
    "showDetails(block, 8, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 8)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 8, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 9)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 9) + 1}}" data-ng-class=
    "getDropClasses(block, 9)" data-ng-click=
    "showDetails(block, 9, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 9)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 9, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 10)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 10) + 1}}" data-ng-class=
    "getDropClasses(block, 10)" data-ng-click=
    "showDetails(block, 10, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 10)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 10, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 11)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 11) + 1}}" data-ng-class=
    "getDropClasses(block, 11)" data-ng-click=
    "showDetails(block, 11, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 11)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 11, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 12)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 12) + 1}}" data-ng-class=
    "getDropClasses(block, 12)" data-ng-click=
    "showDetails(block, 12, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 12)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 12, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 13)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 13) + 1}}" data-ng-class=
    "getDropClasses(block, 13)" data-ng-click=
    "showDetails(block, 13, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 13)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 13, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 14)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 14) + 1}}" data-ng-class=
    "getDropClasses(block, 14)" data-ng-click=
    "showDetails(block, 14, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 14)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 14, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 15)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 15) + 1}}" data-ng-class=
    "getDropClasses(block, 15)" data-ng-click=
    "showDetails(block, 15, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 15)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 15, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 16)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 16) + 1}}" data-ng-class=
    "getDropClasses(block, 16)" data-ng-click=
    "showDetails(block, 16, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 16)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 16, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 17)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 17) + 1}}" data-ng-class=
    "getDropClasses(block, 17)" data-ng-click=
    "showDetails(block, 17, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 17)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 17, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 18)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 18) + 1}}" data-ng-class=
    "getDropClasses(block, 18)" data-ng-click=
    "showDetails(block, 18, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 18)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 18, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 19)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 19) + 1}}" data-ng-class=
    "getDropClasses(block, 19)" data-ng-click=
    "showDetails(block, 19, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 19)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 19, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 20)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 20) + 1}}" data-ng-class=
    "getDropClasses(block, 20)" data-ng-click=
    "showDetails(block, 20, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 20)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 20, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 21)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 21) + 1}}" data-ng-class=
    "getDropClasses(block, 21)" data-ng-click=
    "showDetails(block, 21, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 21)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 21, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 22)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 22) + 1}}" data-ng-class=
    "getDropClasses(block, 22)" data-ng-click=
    "showDetails(block, 22, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 22)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 22, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 23)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 23) + 1}}" data-ng-class=
    "getDropClasses(block, 23)" data-ng-click=
    "showDetails(block, 23, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 23)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 23, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 24)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 24) + 1}}" data-ng-class=
    "getDropClasses(block, 24)" data-ng-click=
    "showDetails(block, 24, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 24)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 24, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 25)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 25) + 1}}" data-ng-class=
    "getDropClasses(block, 25)" data-ng-click=
    "showDetails(block, 25, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 25)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 25, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 26)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 26) + 1}}" data-ng-class=
    "getDropClasses(block, 26)" data-ng-click=
    "showDetails(block, 26, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 26)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 26, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 27)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 27) + 1}}" data-ng-class=
    "getDropClasses(block, 27)" data-ng-click=
    "showDetails(block, 27, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 27)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 27, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 28)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 28) + 1}}" data-ng-class=
    "getDropClasses(block, 28)" data-ng-click=
    "showDetails(block, 28, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 28)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 28, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 29)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 29) + 1}}" data-ng-class=
    "getDropClasses(block, 29)" data-ng-click=
    "showDetails(block, 29, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 29)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 29, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 30)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 30) + 1}}" data-ng-class=
    "getDropClasses(block, 30)" data-ng-click=
    "showDetails(block, 30, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 30)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 30, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 31)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 31) + 1}}" data-ng-class=
    "getDropClasses(block, 31)" data-ng-click=
    "showDetails(block, 31, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 31)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 31, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 32)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 32) + 1}}" data-ng-class=
    "getDropClasses(block, 32)" data-ng-click=
    "showDetails(block, 32, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 32)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 32, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 33)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 33) + 1}}" data-ng-class=
    "getDropClasses(block, 33)" data-ng-click=
    "showDetails(block, 33, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 33)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 33, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 34)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 34) + 1}}" data-ng-class=
    "getDropClasses(block, 34)" data-ng-click=
    "showDetails(block, 34, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 34)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 34, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 35)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 35) + 1}}" data-ng-class=
    "getDropClasses(block, 35)" data-ng-click=
    "showDetails(block, 35, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 35)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 35, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 36)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 36) + 1}}" data-ng-class=
    "getDropClasses(block, 36)" data-ng-click=
    "showDetails(block, 36, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 36)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 36, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 37)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 37) + 1}}" data-ng-class=
    "getDropClasses(block, 37)" data-ng-click=
    "showDetails(block, 37, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 37)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 37, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 38)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 38) + 1}}" data-ng-class=
    "getDropClasses(block, 38)" data-ng-click=
    "showDetails(block, 38, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 38)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 38, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 39)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 39) + 1}}" data-ng-class=
    "getDropClasses(block, 39)" data-ng-click=
    "showDetails(block, 39, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 39)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 39, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 40)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 40) + 1}}" data-ng-class=
    "getDropClasses(block, 40)" data-ng-click=
    "showDetails(block, 40, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 40)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 40, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 41)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 41) + 1}}" data-ng-class=
    "getDropClasses(block, 41)" data-ng-click=
    "showDetails(block, 41, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 41)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 41, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 42)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 42) + 1}}" data-ng-class=
    "getDropClasses(block, 42)" data-ng-click=
    "showDetails(block, 42, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 42)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 42, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 43)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 43) + 1}}" data-ng-class=
    "getDropClasses(block, 43)" data-ng-click=
    "showDetails(block, 43, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 43)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 43, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 44)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 44) + 1}}" data-ng-class=
    "getDropClasses(block, 44)" data-ng-click=
    "showDetails(block, 44, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 44)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 44, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 45)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 45) + 1}}" data-ng-class=
    "getDropClasses(block, 45)" data-ng-click=
    "showDetails(block, 45, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 45)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 45, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 46)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 46) + 1}}" data-ng-class=
    "getDropClasses(block, 46)" data-ng-click=
    "showDetails(block, 46, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 46)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 46, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 47)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 47) + 1}}" data-ng-class=
    "getDropClasses(block, 47)" data-ng-click=
    "showDetails(block, 47, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 47)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 47, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 48)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 48) + 1}}" data-ng-class=
    "getDropClasses(block, 48)" data-ng-click=
    "showDetails(block, 48, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 48)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 48, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 49)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 49) + 1}}" data-ng-class=
    "getDropClasses(block, 49)" data-ng-click=
    "showDetails(block, 49, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 49)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 49, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 50)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 50) + 1}}" data-ng-class=
    "getDropClasses(block, 50)" data-ng-click=
    "showDetails(block, 50, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 50)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 50, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 51)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 51) + 1}}" data-ng-class=
    "getDropClasses(block, 51)" data-ng-click=
    "showDetails(block, 51, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 51)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 51, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 52)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 52) + 1}}" data-ng-class=
    "getDropClasses(block, 52)" data-ng-click=
    "showDetails(block, 52, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 52)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 52, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 53)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 53) + 1}}" data-ng-class=
    "getDropClasses(block, 53)" data-ng-click=
    "showDetails(block, 53, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 53)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 53, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 54)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 54) + 1}}" data-ng-class=
    "getDropClasses(block, 54)" data-ng-click=
    "showDetails(block, 54, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 54)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 54, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 55)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 55) + 1}}" data-ng-class=
    "getDropClasses(block, 55)" data-ng-click=
    "showDetails(block, 55, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 55)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 55, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 56)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 56) + 1}}" data-ng-class=
    "getDropClasses(block, 56)" data-ng-click=
    "showDetails(block, 56, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 56)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 56, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 57)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 57) + 1}}" data-ng-class=
    "getDropClasses(block, 57)" data-ng-click=
    "showDetails(block, 57, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 57)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 57, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 58)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 58) + 1}}" data-ng-class=
    "getDropClasses(block, 58)" data-ng-click=
    "showDetails(block, 58, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 58)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 58, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 59)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 59) + 1}}" data-ng-class=
    "getDropClasses(block, 59)" data-ng-click=
    "showDetails(block, 59, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 59)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 59, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 60)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 60) + 1}}" data-ng-class=
    "getDropClasses(block, 60)" data-ng-click=
    "showDetails(block, 60, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 60)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 60, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 61)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 61) + 1}}" data-ng-class=
    "getDropClasses(block, 61)" data-ng-click=
    "showDetails(block, 61, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 61)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 61, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 62)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 62) + 1}}" data-ng-class=
    "getDropClasses(block, 62)" data-ng-click=
    "showDetails(block, 62, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 62)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 62, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 63)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 63) + 1}}" data-ng-class=
    "getDropClasses(block, 63)" data-ng-click=
    "showDetails(block, 63, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 63)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 63, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 64)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 64) + 1}}" data-ng-class=
    "getDropClasses(block, 64)" data-ng-click=
    "showDetails(block, 64, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 64)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 64, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 65)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 65) + 1}}" data-ng-class=
    "getDropClasses(block, 65)" data-ng-click=
    "showDetails(block, 65, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 65)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 65, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 66)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 66) + 1}}" data-ng-class=
    "getDropClasses(block, 66)" data-ng-click=
    "showDetails(block, 66, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 66)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 66, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 67)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 67) + 1}}" data-ng-class=
    "getDropClasses(block, 67)" data-ng-click=
    "showDetails(block, 67, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 67)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 67, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 68)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 68) + 1}}" data-ng-class=
    "getDropClasses(block, 68)" data-ng-click=
    "showDetails(block, 68, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 68)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 68, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 69)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 69) + 1}}" data-ng-class=
    "getDropClasses(block, 69)" data-ng-click=
    "showDetails(block, 69, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 69)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 69, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 70)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 70) + 1}}" data-ng-class=
    "getDropClasses(block, 70)" data-ng-click=
    "showDetails(block, 70, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 70)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 70, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 71)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 71) + 1}}" data-ng-class=
    "getDropClasses(block, 71)" data-ng-click=
    "showDetails(block, 71, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 71)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 71, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 72)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 72) + 1}}" data-ng-class=
    "getDropClasses(block, 72)" data-ng-click=
    "showDetails(block, 72, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 72)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 72, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 73)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 73) + 1}}" data-ng-class=
    "getDropClasses(block, 73)" data-ng-click=
    "showDetails(block, 73, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 73)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 73, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 74)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 74) + 1}}" data-ng-class=
    "getDropClasses(block, 74)" data-ng-click=
    "showDetails(block, 74, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 74)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 74, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 75)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 75) + 1}}" data-ng-class=
    "getDropClasses(block, 75)" data-ng-click=
    "showDetails(block, 75, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 75)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 75, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 76)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 76) + 1}}" data-ng-class=
    "getDropClasses(block, 76)" data-ng-click=
    "showDetails(block, 76, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 76)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 76, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 77)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 77) + 1}}" data-ng-class=
    "getDropClasses(block, 77)" data-ng-click=
    "showDetails(block, 77, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 77)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 77, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 78)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 78) + 1}}" data-ng-class=
    "getDropClasses(block, 78)" data-ng-click=
    "showDetails(block, 78, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 78)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 78, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 79)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 79) + 1}}" data-ng-class=
    "getDropClasses(block, 79)" data-ng-click=
    "showDetails(block, 79, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 79)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 79, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 80)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 80) + 1}}" data-ng-class=
    "getDropClasses(block, 80)" data-ng-click=
    "showDetails(block, 80, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 80)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 80, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 81)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 81) + 1}}" data-ng-class=
    "getDropClasses(block, 81)" data-ng-click=
    "showDetails(block, 81, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 81)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 81, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 82)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 82) + 1}}" data-ng-class=
    "getDropClasses(block, 82)" data-ng-click=
    "showDetails(block, 82, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 82)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 82, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 83)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 83) + 1}}" data-ng-class=
    "getDropClasses(block, 83)" data-ng-click=
    "showDetails(block, 83, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 83)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 83, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 84)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 84) + 1}}" data-ng-class=
    "getDropClasses(block, 84)" data-ng-click=
    "showDetails(block, 84, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 84)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 84, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 85)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 85) + 1}}" data-ng-class=
    "getDropClasses(block, 85)" data-ng-click=
    "showDetails(block, 85, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 85)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 85, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 86)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 86) + 1}}" data-ng-class=
    "getDropClasses(block, 86)" data-ng-click=
    "showDetails(block, 86, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 86)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 86, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 87)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 87) + 1}}" data-ng-class=
    "getDropClasses(block, 87)" data-ng-click=
    "showDetails(block, 87, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 87)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 87, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 88)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 88) + 1}}" data-ng-class=
    "getDropClasses(block, 88)" data-ng-click=
    "showDetails(block, 88, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 88)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 88, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 89)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 89) + 1}}" data-ng-class=
    "getDropClasses(block, 89)" data-ng-click=
    "showDetails(block, 89, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 89)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 89, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 90)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 90) + 1}}" data-ng-class=
    "getDropClasses(block, 90)" data-ng-click=
    "showDetails(block, 90, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 90)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 90, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 91)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 91) + 1}}" data-ng-class=
    "getDropClasses(block, 91)" data-ng-click=
    "showDetails(block, 91, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 91)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 91, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 92)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 92) + 1}}" data-ng-class=
    "getDropClasses(block, 92)" data-ng-click=
    "showDetails(block, 92, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 92)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 92, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 93)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 93) + 1}}" data-ng-class=
    "getDropClasses(block, 93)" data-ng-click=
    "showDetails(block, 93, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 93)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 93, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 94)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 94) + 1}}" data-ng-class=
    "getDropClasses(block, 94)" data-ng-click=
    "showDetails(block, 94, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 94)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 94, facility)"></span>
        </div>
    </div><!--

 --><div class="intervalDiv" data-intervala=
    "interval{{getIntervalIDByBegin(block, 95)}}" data-intervalb=
    "interval{{getIntervalIDByBegin(block, 95) + 1}}" data-ng-class=
    "getDropClasses(block, 95)" data-ng-click=
    "showDetails(block, 95, $event, facility)">
        <div class="temperature" data-ng-show="checkIntervalChange(block, 95)">
            <span class="temperatureDisplayInProgram" data-ng-bind=
            "getTemperatureByTemperatureFacilitySettings(block, 95, facility)"></span>
        </div>
    </div>
</div>