<div class="row row-centered">
	<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12">Wetter</h1>
	
	<div class="col-xs-11 col-md-6 card" style="margin-left: 15px; height: 130px;padding:0px;">
	    <div class="col-md-12 col-xs-11 col-sm-12" style="padding: 0px;">
			
		    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 card-name"
			    style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 10px; font-size: 5em;">
			<i class="wi wi-day-sunny col-xs-8"></i>
			<i class="wi wi-sunrise col-xs-6" style="font-size: 1.5rem; padding-top: 0.7rem;">  6:47</i>
			<i class="wi wi-sunset col-xs-6" style="font-size: 1.5rem; padding-top: 0.7rem;"> 21:18</i>
		    </div>
		    <div class="row">
			<div class="card-name"
			    style="padding:0px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
			    <div class="col-xs-11" style="font-size: 2em;">22°C</div>
			    <div class="col-xs-5"><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> 2%</div>
			    <div class="col-xs-5"><i class="wi wi-wind towards-90-deg"></i> W, 16 km/h</div>
			    <div class="col-xs-5"><i class="wi wi-humidity"></i> 40%</div>
			</div>
		    </div>
	    </div>
	</div>
	    
	<div class="col-xs-11 col-md-5 card" style="margin-left: 15px; height: 130px;padding:0px;">
	    <div class="col-md-12 col-xs-12 col-sm-12" style="padding: 0px;">
		<div class="col-xs-12 card-name"
			style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px;">
		    <div class="row" style="text-align: center">
			<div style="float: left; width: 33.33%;">
			    <div>Früh</div>
			    <br>
			    <div><i class="wi wi-day-fog"></i> 10°C</div>
			    <div><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> 5%</div>
			    <div><i class="wi wi-wind towards-90-deg"></i> W, 7 km/h</div>
			</div>
			<div style="float: left; width: 33.33%;">
			    <div>Mittags</div>
			    <br>
			    <div><i class="wi wi-day-sunny"></i> 25°C</div>
			    <div><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> 2%</div>
			    <div><i class="wi wi-wind towards-90-deg"></i> W, 17 km/h</div>
			</div>
			<div style="float: left; width: 33.33%;">
			    <div>Abends</div>
			    <br>
			    <div><i class="wi wi-solar-eclipse"></i> 15°C</div>
			    <div><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> 10%</div>
			    <div><i class="wi wi-wind towards-90-deg"></i> W, 20 km/h</div>
			</div>
		    </div>
		</div>
	    </div> 
	</div>
	
	<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12">Wetter-Vorhersage</h1>
	
	<div class="col-md-5 col-sm-5 col-lg-5 col-xs-11 card"
	    style="margin-left: 15px; height: 130px;padding:0px;">
	    <div class="col-xs-12 card-name"
		style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px;">
		    Morgen
		    <i class="wi wi-sunrise" style="font-size: 1.5rem;">  6:47</i>
		    <i class="wi wi-sunset" style="font-size: 1.5rem;"> 21:18</i>
	    </div>
	    <div class="col-xs-5 card-name"
		style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px; padding-top: 10px; font-size: 4em;">
		<i class="wi wi-day-sunny col-xs-8"></i>
	    </div>
	    <div class="col-xs-5 card-name">
		<div>25°C</div>
		<div><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> 2%</div>
		<div><i class="wi wi-wind towards-90-deg"></i> W, 16 km/h</div>
	    </div>
	</div>
	<div class="col-md-5 col-sm-5 col-lg-5 col-xs-11 card"
	    style="margin-left: 15px; height: 130px;padding:0px;">
	    <div class="col-xs-12 card-name"
		style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px;">
		    Übermorgen
		    <i class="wi wi-sunrise" style="font-size: 1.5rem;">  6:47</i>
		    <i class="wi wi-sunset" style="font-size: 1.5rem;"> 21:18</i>
	    </div>
	    <div class="col-xs-5 card-name"
		style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px; padding-top: 10px; font-size: 4em;">
		<i class="wi wi-day-sunny col-xs-8"></i>
	    </div>
	    <div class="col-xs-5 card-name">
		<div>25°C</div>
		<div><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> 2%</div>
		<div><i class="wi wi-wind towards-90-deg"></i> W, 16 km/h</div>
	    </div>
	</div>
</div>