<div class="row row-centered">
	<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12">Wetter</h1>
	
	<div class="col-xs-11 col-md-6 card" style="margin-left: 15px; height: 130px;padding:0px;">
	    <div class="col-md-12 col-xs-11 col-sm-12" style="padding: 0px;">
			
		    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 card-name"
			    style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 10px; font-size: 4em;">
			<i class="wi col-xs-8" ng-class="weather.current.icon"></i>
			<i class="wi wi-sunrise col-xs-6" style="font-size: 1.5rem; padding-top: 0.9rem;">  {{weather.current.sunrise}}</i>
			<i class="wi wi-sunset col-xs-6" style="font-size: 1.5rem; padding-top: 0.7rem;"> {{weather.current.sunset}}</i>
		    </div>
		    <div class="row">
			<div class="card-name"
			    style="padding:0px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 5px;">
			    <div class="col-xs-11" style="font-size: 2em;">{{weather.current.temperature}}°C</div>
			    <div class="col-xs-5"><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> {{weather.current.rainchance}}%</div>
			    <div class="col-xs-5"><i class="wi wi-wind" ng-class="weather.current.wind.icon"></i> {{weather.current.wind.dir}}, {{weather.current.wind.speed}} km/h</div>
			    <div class="col-xs-5"><i class="wi wi-humidity"></i> {{weather.current.humidity}}%</div>
			</div>
		    </div>
	    </div>
	</div>
	    
	<div class="col-xs-11 col-md-5 card" style="margin-left: 15px; height: 130px;padding:0px;">
	    <div class="col-md-12 col-xs-12 col-sm-12" style="padding: 0px;">
		<div class="col-xs-12 card-name"
			style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px;">
		    <div class="row" style="text-align: center">
			<div style="float: left; width: 33.33%;">
			    <div>Früh</div>
			    <br>
			    <div><i class="wi" ng-class="weather.today.early.icon"></i> {{weather.today.early.temperature}}°C</div>
			    <div><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> {{weather.today.early.rainchance}}%</div>
			    <div><i class="wi wi-wind" ng-class="weather.current.today.early.wind.icon"></i> {{weather.today.early.wind.dir}}, {{weather.today.early.wind.speed}} km/h</div>
			</div>
			<div style="float: left; width: 33.33%;">
			    <div>Mittags</div>
			    <br>
			    <div><i class="wi" ng-class="weather.today.lunchtime.icon"></i> {{weather.today.lunchtime.temperature}}°C</div>
			    <div><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> {{weather.today.lunchtime.rainchance}}%</div>
			    <div><i class="wi wi-wind" ng-class="weather.current.today.lunchtime.wind.icon"></i> {{weather.today.lunchtime.wind.dir}}, {{weather.today.lunchtime.wind.speed}} km/h</div>
			</div>
			<div style="float: left; width: 33.33%;">
			    <div>Abends</div>
			    <br>
			    <div><i class="wi" ng-class="weather.today.early.icon"></i> {{weather.today.evening.temperature}}°C</div>
			    <div><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> {{weather.today.evening.rainchance}}%</div>
			    <div><i class="wi wi-wind" ng-class="weather.current.today.evening.wind.icon"></i> {{weather.today.evening.wind.dir}}, {{weather.today.evening.wind.speed}} km/h</div>
			</div>
		    </div>
		</div>
	    </div> 
	</div>
	
	<h1 class="col-md-12 col-lg-12 col-xs-12 col-sm-12">Wetter-Vorhersage</h1>
	
	<div class="col-md-5 col-sm-5 col-lg-5 col-xs-11 card"
	    style="margin-left: 15px; height: 130px;padding:0px;">
	    <div class="col-xs-12 card-name"
		style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px;">
		    Morgen
		    <i class="wi wi-sunrise" style="font-size: 1.5rem;">  {{weather.tomorrow.sunrise}}</i>
		    <i class="wi wi-sunset" style="font-size: 1.5rem;"> {{weather.tomorrow.sunset}}</i>
	    </div>
	    <div class="col-xs-5 card-name"
		style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px; padding-top: 10px; font-size: 4em;">
		<i class="wi col-xs-8" ng-class="weather.tomorrow.icon"></i>
	    </div>
	    <div class="col-xs-5 card-name">
		<div>{{weather.tomorrow.temperature}}°C</div>
		<div><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> {{weather.tomorrow.rainchance}}%</div>
		<div><i class="wi wi-wind" ng-class="weather.current.tomorrow.wind.icon"></i> {{weather.tomorrow.wind.dir}}, {{weather.tomorrow.wind.speed}} km/h</div>
	    </div>
	</div>
	<div class="col-md-5 col-sm-5 col-lg-5 col-xs-11 card"
	    style="margin-left: 15px; height: 130px;padding:0px;">
	    <div class="col-xs-12 card-name"
		style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px;">
		    Übermorgen
		    <i class="wi wi-sunrise" style="font-size: 1.5rem;">  {{weather.tomorrow2.sunrise}}</i>
		    <i class="wi wi-sunset" style="font-size: 1.5rem;"> {{weather.tomorrow2.sunset}}</i>
	    </div>
	    <div class="col-xs-5 card-name"
		style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 2px; padding-top: 10px; font-size: 4em;">
		<i class="wi col-xs-8" ng-class="weather.tomorrow2.icon"></i>
	    </div>
	    <div class="col-xs-5 card-name">
		<div>{{weather.tomorrow2.temperature}}°C</div>
		<div><i class="wi wi-raindrops" style="font-size: 1.3em;"></i> {{weather.tomorrow2.rainchance}}%</div>
		<div><i class="wi wi-wind" ng-class="weather.current.tomorrow2.wind.icon"></i> {{weather.tomorrow2.wind.dir}}, {{weather.tomorrow2.wind.speed}} km/h</div>
	    </div>
	</div>
</div>