<div>
	<div class="row row-centered">
		<div class="col-xs-8 col-sm-8 col-md-7 col-xs-offset-2 col-md-offset-3 col-sm-offset-2 ">
		 <div class="row" style="margin-bottom:30px;">
		 <h1 class="col-xs-3" style="padding:0px;">WLAN</h1>
		 <div class="switch col-xs-3 col-xs-offset-1">
            <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
            <label for="cmn-toggle-1"></label>
            <span class="on-span">Ein</span>
            <span class="off-span">Aus</span>
          </div>
          </div>
		<form class="form-horizontal" name="wlanForm" novalidate >
       <div class="form-group">
             <label for="ssid" class="col-sm-3 col-md-3 control-label" id="ssidLabel">SSID</label>
			 <div class="col-sm-12 col-md-7 col-xs-12">
			      <input ng-model="wlan.ssid" class="form-control" name="ssid" id="ssid" 
			      ng-class="{'has-error': wlanForm.ssid.$invalid}" required>
			 </div>
        </div>
        <div class="form-group">
             <label for="password" class="col-sm-3 control-label" id="passwordLabel">Passwort</label>
			    <div class="col-sm-12 col-md-7 col-xs-12">
			      <input type="password" ng-model="wlan.password" class="form-control" name="password" 
			      id="password" ng-class="{'has-error': wlanForm.password.$invalid}" required>
			      
			    </div>
        </div>
        <div class="form-group col-sm-9">
            <button ng-disabled="wlanForm.$invalid" class="btn btn-default">Speichern</button>
        </div>
    </form>
		</div>
	</div>
</div>